[2014-01-18 13:11] jroimartin opened #1 "API documentation"
Write API documentation

[2014-01-18 13:13] jroimartin opened #2 "Editable views"
Add support for editable views

[2014-01-18 13:17] jroimartin opened #3 "Optimize screen refresh"
At this moment everything (view contets, frames, intersections) is re-drawed with every event. Only those views that have been modified should be refreshed, unless a resize event is detected.

[2014-01-18 13:25] jroimartin opened #4 "Update README.md"
Include the following information in README.md:
- Description
- Concepts and conventions
- Small example
- Installation instructions (go get ...)

[2014-01-19 16:05] #1 closed, assigned to jroimartin

[2014-01-19 16:45] #4 closed, assigned to jroimartin

[2014-01-22 21:59] jroimartin opened #5 "Mouse support"
Add mouse support (plan9).

[2014-01-22 22:02] jroimartin opened #6 "Full edition mode"
Implement full edition mode:
- \n in between the lines.
- Backspace or Delete deletes \n.
- ^w, ^a, ^e...
- Tabstop (fixed?)
- Natural cursor movement in "wrap" mode.

[2014-01-22 22:04] jroimartin opened #7 "Implement most typical handlers"
Implement most typical KB handlers to help users:
- Quit
- Cursor movement + scroll

[2014-01-22 22:45] #2 closed, assigned to jroimartin

[2014-01-22 22:47] jroimartin opened #8 "Add helpers to read view contents"
Add helpers to read view contents:
- Read line under the cursor
- Read word under the cursor

[2014-01-23 20:43] jroimartin opened #9 "Colored text"
Add support for colored text. E.g.: fmt.Println(v, "Regular text and [yb:Yellow bold text]")

[2014-01-23 22:14] #8 closed, assigned to jroimartin

[2014-01-23 23:02] jroimartin opened #10 "Simplify demos"
For example, demo2.go has been used for testing purposes and its source code is not clear enough.

[2014-02-01 10:21] jroimartin opened #12 "Should Gui.SetKeybinding accept a slice of viewnames?"
Then you could transform this kind of code:

[code]
Into something like this:
[code]

[2014-02-02 19:22] hazbo opened #13 "Getting text from internal buffer"
This might be a really stupid question, but what is the easiest way to get all text from a particular view's internal buffer?

e.g. Say we `Fprint` a couple of things to a view

[code]

How can I then easily get all the text from that view, preiferbabrly as a string?
Sorry if it's a dumb question I'm still really new to Go and I've had a look around the code here but I couldn't figure it out.

[2014-02-03 01:12] #13 closed, assigned to nobody

[2014-02-05 17:22] kelseyhightower opened #14 "Add one or two screenshots to the README.md"
This looks like an awesome tool, but since it involves UI, a screenshot of a console showing off gocui would be nice.

[2014-02-24 01:58] kgilmer opened #15 "How do I update a view from another goroutine?"
I have a top-like application that updates views vi coroutines.  I am able to update the views fine but get panic (panic: bytes.Buffer: truncation out of range) when the terminal is reset.  I notice that if I do not call flush from my update code the error does not occur, but the ui does not refresh until an event is processed.  How do I correctly signal to gocui that a view has changed?

[2014-10-07 07:02] kmchen opened #18 "SetCurrentView"
Hi Roi, i think this is an awesome tool. I have a question for you in demo2.go the layout function. When I take setCurrentView() (line 165) out of the if/else, the nextView no longer works.

nextView workds as :
 if v, err := g.SetView("main", 30, -1, maxX, maxY); err != nil {
    ......
        v.Editable = true
        if err := g.SetCurrentView("main"); err != nil {
            return err

[2014-10-08 07:28] #18 closed, assigned to jroimartin

[2014-12-14 18:32] ThomasHabets opened #22 "SetKeyBinding for all unbound keys."
I want to create an autocomplete widget, so I want a callback any time the user types a letter. I obviously don't want to override CtrlC (globally bound), but everything else.

[2015-01-11 03:34] iu0v1 opened #23 "question about windows level"
Hello.

I made some roughing (but working well) code to close issue [#3](https://github.com/jroimartin/gocui/issues/3).

But with an independent View'ers redraw, I have  a some troubles with the windows hierarchy.
If we create, for example, first window (at level "0") and second on top of previous (at level "1"), then inactive "top level" window may fall through under level "0" (in situation, when

[2015-01-11 11:18] jroimartin commented on #23
Hi,

Some time ago I was also thinking about adding a "z" field to the View type. However, I discarded it due to most of the time when you create a new window which overlaps others, it is because you want this last window on top.

So, IMO I would follow the "always on top" rule. Of course, if you can find a good example of a common situation where a "window level" politic would be needed, please s

[2015-01-11 11:19] #22 closed

[2015-01-25 13:57] jroimartin opened #25 "New lines should be added only when \n is detected"
For example, fmt.Fprint(v, "More text") should append the string "More text" to the last line in the buffer.

[2015-01-28 09:46] fabiofalci opened #26 "Should KeybindingHandler accept the pressed key/modifier?"
Then you could transform this code:

[code]

Into something like this:
[code]

The reason is because I want to accumulate the keys, like VI 'gg', so the `keyPressed` will only accumulate the keys until the execution.

[2015-01-28 20:32] jroimartin commented on #26
It makes sense. I will commit the change today :)

[2015-01-28 22:13] jroimartin commented on #26
After implementing it and porting some examples I don't really see the advantage. You can always use lambdas, which is much more flexible. For instance:

[code]
You can also give a look to "_examples/delete.go".

Also, it keeps the signature of KeybindingHandler much simpler. What do you think?

[2015-01-28 22:23] #23 closed

[2015-01-28 22:35] fabiofalci commented on #26
Yeah, the lambda example looks really good!
I think you can close this issue then.

Thanks!

[2015-01-28 22:41] jroimartin commented on #26
OK. Thank you very much! :)

[2015-01-28 22:41] #26 closed

[2015-01-29 15:22] jroimartin commented on #25
Fixed in commit 17f7615184739fbeb00ec824f6f894d22558e92e

[2015-01-29 15:22] #25 closed

[2015-02-01 15:50] jroimartin opened #27 "Vertical Autoscroll"
Autoscroll view when the text overflows.

[2015-02-01 16:19] jroimartin commented on #14
![examples_demo](https://cloud.githubusercontent.com/assets/1223476/5992750/720b84f0-aa36-11e4-88ec-296fa3247b52.png)
![examples_delete](https://cloud.githubusercontent.com/assets/1223476/5992751/76ad5cc2-aa36-11e4-8204-6a90269db827.png)

[2015-02-01 16:19] #14 closed

[2015-02-01 21:55] jroimartin commented on #27
Fixed in commit 3607eb8e1cd18f5a379e41ea6c2c82ae3a168026.

[2015-02-01 21:55] #27 closed

[2015-02-02 16:33] jroimartin opened #28 "Fix edition mode when View.Wrap is enabled"

[2015-02-04 01:10] jroimartin commented on #28
Fixed in commit 708261503b22bd9dbf3b86a20f147a7c9f8b1152

[2015-02-04 01:10] #28 closed

[2015-02-21 10:46] beefsack commented on #9
Hi @jroimartin, just wondering if there was any plan around this one?  Would love to use this library over using termbox directly for a project I'm just kicking off.

Happy to contribute if you had a high level idea of where you want to go with it.

[2015-02-21 10:56] jroimartin commented on #9
Hi Michael,

Right now I'm working on giving gocui a real full edition mode. And then I
would like to decouple it, so the user can set his own keybinding. This way
it would be trivial to set up an emacs mode, vim mode or custom mode.

After finishing these two tasks my idea is to implement color support, but
first I think we should discuss about which is the better approach for
defining colors. E.

[2015-02-21 11:23] beefsack commented on #9
Hi @jroimartin, the new version sounds good, might be worth waiting until that's done.

The benefit of ANSI codes in the input might be because you could still use an `io.Writer` without big changes to the API.  This would actually work quite well for my project as I've already got an ANSI renderer in place.

The benefit to having a concrete API for triggering colour changes would be user friendli

[2015-02-23 09:51] jroimartin commented on #6
Implemented with ca0f876ab6c1c90661681ac68a8c6480d3505abf

[2015-02-23 09:51] #6 closed

[2015-02-23 23:33] jroimartin commented on #7
Implemented in 4dfc4973e0320bdb36b1d69a34cc980669bf180e

[2015-02-23 23:33] #7 closed

[2015-02-24 23:27] jroimartin commented on #12
Finally, after trying it, I decided to discard this change. It adds complexity to the API and breaks with the conventions followed by the rest of functions. Also, it can be easily replaced by a for loop or so.

[2015-02-24 23:27] #12 closed

[2015-04-26 23:08] stephenwithav opened #29 "SetKeyBinding fails when called via a helper function"
When defining my keybindings, I use this helper function:

    func setkey(g *gocui.Gui, key gocui.Key, fn gocui.KeybindingHandler) {
	    if err := g.SetKeybinding("", key, gocui.ModNone, fn); err != nil {
		    log.Panicln(err)
	    }
    }

An example invocation that works is:

    setKey(g, gocui.KeyCtrlC, quit)

...but the following fails:

    setKey(g, 'q', quit)

...while the following cor

[2015-04-26 23:16] jroimartin commented on #29
The signature of your helper function should be:

[code]

Because key can be a gocui.Key or a rune. Try and let me know if it works ok for you :)

[2015-04-26 23:38] stephenwithav commented on #29
Fantastic!  Thank you, @jroimartin !

[2015-04-26 23:38] #29 closed

[2015-05-29 14:43] dcu opened #30 "view titles"
hi,

is there a way to add a title to the view?
If not, that'd be nice to have, it can be in the same level as the frame like https://github.com/gizak/termui does.

The syntax could be something like this:

	if v, err := g.SetView(...); err != nil {
		v.Title = "Title"
		v.TitleAlign = "left|right|center"
	}

[2015-05-29 15:28] jroimartin commented on #30
I'd prefer to keep views as simple as possible, think on them just as buffers. In the case of needing a title, I would add another view above just with the title (one line height, you can disable borders, etc.)

[2015-07-13 07:07] urandom opened #31 "Add a View method that returns the actual contents of the view"
Currently, if a view is wrapped, there seems to be no way to actually return the new view content, including the extra newlines. Buffer returns the content before the newlines have been calculated. This makes implementing scrolling with boundaries impossible.

[2015-08-16 16:10] jroimartin commented on #31
First of all, sorry for the late response. Take a look at e5bf60e36b67610cf66ef779ad2b83c317b5ec49, I added the method View.ViewBuffer() that returns the contents of the buffer that is showed to the user.

[2015-09-04 19:29] #31 closed

[2015-09-05 00:23] c2-akula commented on #15
When run this program with the race detector, it detects several data races. Sometime, it even fails to restore the stack, so I tried with "GORACE=history_size=7 go run -race filename.go" and this gives more information and it says that there have been two writes one by the main goroutine and another by the goroutine that does the updating of the views.

[2015-09-05 08:11] jroimartin commented on #15
I'll give it a look. However, as you can see in the documentation, you must
take care of concurrency when writing/reading to views. They are not
concurrent safe and is the user, depending on his specific case, who must
consider using channels, mutexes, etc.

[2015-09-05 20:09] c2-akula commented on #15
I am working on a project and as part of it I am using your library for building the UI. I have attached the code that doesn't produce a data-race.
[code]
Yes, I am aware this is not idiomatic Go, I cobbled up something to reproduce the situation. As you can see, this code will work just fine if you run it with the race detector. But once you uncomment the go func part of the code, that is when he

[2015-09-12 20:58] hojgr commented on #9
Hello,

I would like to know what's the status for this? I would like to use colored text in a project I am working on. I tried ANSI but those are apparently escaped :)

Thanks

[2015-10-02 14:21] dcu opened #32 "DeleteView() should remove the associated key bindings with the view"
It seems like delete view is not removing the associated key bindings and it causes issues on dynamic UIs.

[2015-10-03 10:14] jroimartin commented on #32
Keybindings are assigned at Gui level, not at View level. So, I feel that deleting a View should not affect to keybindings. What about adding a new function like the next one?
[code]

[2015-10-03 10:32] jroimartin commented on #9
It is still a work in progress and, hopefully, I will implement it soon using ANSI codes to specify the colours.

[2015-10-03 18:28] dcu commented on #32
What's the purpose of a key binding on a view that should no longer exist?
I think it's confusing and hard to debug.

On Sat, Oct 3, 2015, 5:14 AM Roi Martin <notifications@github.com> wrote:

[2016-01-06 06:36] cruatta commented on #15
I'm writing a program myself using this library and I was hoping for a simple example of code that uses goroutines to update a View that doesn't create data races. Any examples would be very much appreciated!

[2016-01-23 15:16] jroimartin commented on #5
Done in faa12e105a1f0da348ec3ece5cf9380f1268baa9.

[2016-01-23 15:16] #5 closed

[2016-01-23 15:21] jroimartin commented on #32
Sorry for my really really late response. One case could be, for instance, this one:  https://github.com/jroimartin/gocui/blob/master/_examples/demo.go#L105

[2016-01-23 15:31] jroimartin commented on #15
Sorry for my late response. I'll write an example using goroutines and I'll add it under _examples soon. It will be useful also to test race conditions.

[2016-01-25 23:14] jroimartin commented on #15
gocui is now concurrent-safe via *Gui.Execute() (4b628e45b2697cf5f1734d67401bec21fbce5fee). You have an example on how to update the GUI from goroutines at: https://github.com/jroimartin/gocui/blob/master/_examples/goroutine.go

[2016-01-27 09:07] cruatta commented on #15
After updating gocui and following your example, my program doesn't have any races that go build -race can detect. Thanks @jroimartin :+1: ! Maybe we can do a new release? This seems like a big milestone to me.

[2016-01-27 10:50] jroimartin commented on #15
@cruatta yeah, I agree, it makes sense to do a new release. But, before doing it, I want to work a bit more on the documentation and give details about the internals (relations between MainLoop, Keybindings, Execute and Layouts), how to handle concurrency, etc.

I'll release the RC1 during this week.

[2016-01-28 23:15] jroimartin opened #35 "On OSX, ESC sequences corresponding to mouse events are not correctly parsed by termbox-go"
**This is not a bug in gocui. It should be fixed in OSX (making iTerm2/Terminal.app's xterm emulation to send ESC sequences atomically) or in termbox-go (supporting the way used by iTerm2/Terminal.app to report mouse events).**

More information: https://github.com/nsf/termbox-go/issues/120

On OSX, when Gui.Mouse is enabled and the focus is in an editable buffer, if the terminal receives mouse ev

[2016-01-30 02:09] jroimartin commented on #15
I've just released [v0.2-rc1](https://github.com/jroimartin/gocui/releases/tag/v0.2-rc1). Please check and give feedback! :)

[2016-01-30 06:54] jroimartin commented on #15
Also, documentation is a bit more elaborated now :) https://godoc.org/github.com/jroimartin/gocui

[2016-02-06 14:02] jroimartin commented on #30
I've implemented this feature based on the PR #36 from @conejoninja. You can check it on branch [view-title](https://github.com/jroimartin/gocui/tree/view-title) commit bb01d13a959295e85f4eb6b4bf0cfdec6526252d. The main difference between my patch and the original PR is that I iterate over the title string, avoiding unnecessary iteration during the draw loop.

I also added an example with all the

[2016-02-06 14:23] jroimartin commented on #30
This is the output of *_examples/title.go*:

![image](https://cloud.githubusercontent.com/assets/1223476/12867126/839c53fc-cce5-11e5-9251-b24f6e6b3d3a.png)

[2016-02-06 20:17] mephux opened #37 "move window to foreground"
Is this possible ATM with multiple windows with the same demolitions?

[2016-02-06 21:22] jroimartin commented on #37
In gocui, the last created view is always on top of the existing ones. Some time ago, I was considering to allow setting the view's z-position, but most of the time this is not needed and only adds complexity. For instance, the most common case of overlapping views is when you want to show a dialog, which is already supported with the current design.

[2016-02-07 05:11] mephux commented on #37
@jroimartin here is my usecase - building an irssi type clone in go https://github.com/mephux/komanda-cli - keeping the views in my case lowers the complexity.

So is the only work around deleting the view and recreating it? Or is it possible to move the view or resize it to 1x1 px.?

[2016-02-07 10:01] conejoninja commented on #30
Looks good to  me, no problems so far

[2016-02-07 11:15] jroimartin commented on #37
I added `*Gui.SetViewOnTop` to support this use-case. You can check it on branch [view-on-top](https://github.com/jroimartin/gocui/tree/view-on-top) commit 2defea8aed70d401b46e7738879a3ed8e81d83e3. Let's see if it works for your use case.

However, I wouldn't like to add much more complexity regarding z-position. With this patch, a view will be on top when:
* It's just created.
* *Gui.SetViewOnTop

[2016-02-07 11:20] jroimartin commented on #15
I'm closing this issue due to concurrency is already explained on gocui's documentation.

[2016-02-07 11:20] #15 closed

[2016-02-07 12:08] jroimartin commented on #30
Great. I've just merged it!

[2016-02-07 12:08] #30 closed

[2016-02-07 15:02] mephux commented on #37
@jroimartin That works great - thank you.

[2016-02-07 15:02] #37 closed

[2016-02-07 15:56] jroimartin commented on #37
Cool! Merged on master.

[2016-02-09 17:37] shibukraj opened #38 "View Title Alignment"
Hi,
Using the gocui for creating a Terminal application. We have a main view more like a dialog which we would like to set the title. Right now the title comes to the left end of the layout. Any way to add the alignment for the title, so that it aligns to the middle?

[2016-02-10 14:24] jroimartin commented on #38
Hi @shibukraj,

Right now only left alignment is supported. And, to be honest, I'd prefer to keep gocui as simple as possible. Because, for me, a minimalist API is a must.

In the case of the titles, they were introduced because, otherwise, you'd need to have 2 synchronized views if you wanted to show a title per view (1 view for the contents + 1 view w/o frame for the title), which adds complexit

[2016-02-11 02:15] deweerdt commented on #9
I've implemented basic support for ANSI escape characters in https://github.com/jroimartin/gocui/pull/39

[2016-02-11 02:36] shibukraj commented on #38
Hi jroimartin

Thanks for the very fast response. I totally understand the need to keep it as a minimalist API. I am new to golang and learning the language as I develop the application using gocui. Also very much thankful for the explanation of the need for title as well. Thanks again. Really appreciate it.

[2016-02-11 02:44] shibukraj opened #40 "Cursor Not Displaying"
Hi jroimartin,
Thanks for answering my earlier question. I am asking this question as a new thread, thinking that others who want to use this fantastic library may find these Q&A helpful.

The issue/question I am having is, I have to draw a UI and ask for the user input. I would like to show the cursor in the screen (may be blinking as well) so user knows where the cursor is. I created a sample us

[2016-02-11 13:23] shibukraj commented on #40
I got the issue figured out. Thanks

[2016-02-11 13:23] #40 closed

[2016-02-11 13:24] shibukraj opened #41 "Editor"
Do you have any examples that shows the right usage of editor struct?

[2016-02-11 13:47] jroimartin commented on #41
First of all, please note that Editor is an interface. You have more information in the [documentation](https://godoc.org/github.com/jroimartin/gocui).

On the other hand, `DefaultEditor` can be used as example:

https://github.com/jroimartin/gocui/blob/master/edit.go#L25

Specifically:

https://github.com/jroimartin/gocui/blob/master/edit.go#L28-L51

[2016-02-11 13:49] jroimartin commented on #9
@deweerdt cool! Color support is the number 1 priority for v0.3. I'll give it a look in the next days :)

[2016-02-11 14:09] jroimartin commented on #40
Cool! :)

[2016-02-12 11:54] shibukraj commented on #41
Hi there,

Thanks for the note. I did review the code and I would say I am getting better every day with my GO Lang lerning as well.

Let me give you an outline of what I am trying to do, so that the question I am going to ask will make more sense to you.

I am developing a terminal UI using the GOCUI lib. The UI will look like this - more like a POS terminal.

Main Menu

01 - Menu 1
02 - Menu 2
0

[2016-02-23 18:20] deweerdt commented on #9
@jroimartin I've noticed some issues yesterday with the current patch: attributes don't survive  a line change. I'll post an updated version this week.

[2016-02-25 04:14] deweerdt commented on #9
Ok, I've added the fix to PR #39

[2016-02-26 06:25] jack230230 opened #42 "Can I use gocui with a pty which behind a ssh server?"
I have an idea about create an interactive session bebind a ssh server.

thus I want to get a interactive console interface build by gocui, so I want to know how to build gocui with a pty.

[2016-02-26 06:30] jack230230 commented on #42
here is a picture which show my idea

![image](https://cloud.githubusercontent.com/assets/1728779/13344921/6df5b556-dc95-11e5-9134-494e4e118518.png)

[2016-03-10 21:49] matrixise opened #43 "View based on Struct ?"
Hi,

How to define a View over a collection of structs ?

An idea?

Thank you

[2016-04-01 04:28] andrewwatson opened #46 "can't read from stdin"
The _examples/stdin.go won't run for me on os/x in go 1.5 or 1.6.  The program just hangs and when you kill it from another terminal it outputs this

[code]

Could it be a problem with the way it's reading from stdin maybe interfering with the keybindings?

[2016-04-16 19:21] phf opened #47 "Handling the ESCape key"
At first I was confused why your demos all exit on CTRL-C instead of ESC. Then I noticed that any handler I install for KeyEsc will be ignored. I eventually traced this back to gocui hardcoding the termbox.InputAlt input mode in the MainLoop method in gui.go. If I hack the code to set termbox.InputEsc instead, I get the behavior I want. My first instinct is that this should be the application's ch

[2016-04-20 02:35] mattn opened #49 "unicode friendly"
The border characters are not good for windows. You expect `│` or `┐` are single width character. but it's ambiguous width characters in unicode. They are displayed as double width characters in east asia. http://www.unicode.org/reports/tr11/

And also, I'm looking _example/demo.go, it seems not support multi-byte characters. for example, when typing `あ`, it should move the cursor forwarding two c

[2016-04-23 12:13] #38 closed

[2016-04-23 12:20] jroimartin commented on #41
Maybe it would be easier for you to implement this kind on application having multiple views. For instance, a non-editable one for the menus and the output given to the user and an editable one for the user input.

Another option is to allow to select the options using the arrows. You can take demo.go as example (see https://github.com/jroimartin/gocui/blob/master/_examples/demo.go#L50)

On the ot

[2016-04-23 12:23] jroimartin commented on #42
Actually this is a question related to termbox-go (used by gocui under the hood). I'm closing this issue because I've seen you already asked nsf at https://github.com/nsf/termbox-go/issues/123.

[2016-04-23 12:23] #42 closed

[2016-04-23 12:24] jroimartin commented on #43
To be honest, I don't get your question. Could you provide an example?

[2016-04-23 12:27] jroimartin commented on #46
It's working for me. The command:

`$ echo This is a test | go run stdin.go`

returns:

![image](https://cloud.githubusercontent.com/assets/1223476/14761371/72141d02-095f-11e6-829b-92051d0d35dd.png)

[2016-04-23 13:03] jroimartin commented on #47
Hi @phf,

On one hand, I hardcoded it to avoid adding "tricky" options to the gocui's API, making it simple for the users.

On the other hand, I chose `inputMode := termbox.InputAlt` because I think it's more "compatible". From the termbox-go documentation:

[code]

I always remember having troubles depending on the terminal emulator to make the ALT/META key works. So, you always used 'ESC+' inste

[2016-04-23 13:10] jroimartin commented on #49
When I started coding gocui I decided to support only 1 cell-width runes, which is the most common case. But, of course, PRs are more than welcome :)

If you decide to implement it, please take into account that you will need to modify: edition mode rutines, horizontal scrolling, view drawing, geometric calculations to map visual buffers to content buffers, etc.

[2016-04-25 09:47] matrixise commented on #43
hi @jroimartin

in fact, when you show a text line on the console, it's just a string, not a struct. what do you suggest if you want to implement a Model-View-Controller with your library ?

[2016-04-25 18:35] jroimartin commented on #43
Yes, it would be a string. Why would you want it to be an struct? What do you want to accomplish?

[2016-04-26 03:03] jroimartin commented on #32
Closed due to inactivity. Feel free to reopen if you want to continue the discussion.

[2016-05-11 19:03] micronix commented on #47
I'm trying to create an editor interface similar to vim with a normal mode and an insert mode. It feels like it should be easy to do this, but when I bind j in ModAlt mode I have to press Esc every time. What am I missing?

[code]

[2016-05-12 07:38] jroimartin commented on #47
@micronix please take a look in my previous comment. There you have the explanation to that.

[2016-05-17 13:10] pengux opened #50 "The function Line() and line highlighting should take the Wrap flag into consideration."
Currently, when the Wrap flag is set to true for a view, the Line() method doesn't return the whole line, but only the part that fit in one row. The same problem exists for line highlighting as it only highlight the part on the same row instead of the whole wrapped line.

[2016-05-17 20:43] #50 closed

[2016-05-17 20:45] jroimartin commented on #50
Highlight should be fixed with 0707386452711db7b0d58fff7e13dd2f28e1db3e. Regarding the Line() method, it works fine here. Could you check, please?

[2016-05-22 22:22] jroimartin commented on #9
Merged!

[2016-05-22 22:22] #9 closed

[2016-05-22 22:54] #46 closed

[2016-05-22 22:58] #49 closed

[2016-06-14 07:21] jantb opened #51 "Support \r when printing"
When printing to view
`fmt.Fprint(v, "\r test")`

casts:
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x80 pc=0x4e1e95]

goroutine 1 [running]:
panic(0x7ca780, 0xc82000e1a0)
	/usr/local/go/src/runtime/panic.go:481 +0x3e6
github.com/jroimartin/gocui.(*View).Write(0x0, 0xc820263c40, 0x6, 0x8, 0x720000, 0x0, 0x0)
	/home/janbo/src/github.com/jroimar

[2016-06-14 07:38] jroimartin commented on #51
Cannot reproduce the issue with the following code. Are you using master? Can you give some more context?

Thanks!

[code]

[2016-06-14 07:42] jroimartin commented on #51
Also, make sure in your code `v` is not nil, because, based on the backtrace, the error is in view.go:197:

[code]

[2016-06-15 00:02] jroimartin commented on #43
Closed due to inactivity.

[2016-06-15 00:02] #43 closed

[2016-06-15 00:02] jroimartin commented on #41
Closed due to inactivity.

[2016-06-15 00:02] #41 closed

[2016-06-15 00:02] jroimartin commented on #47
Closed due to inactivity.

[2016-06-15 00:02] #47 closed

[2016-06-18 07:11] jroimartin commented on #51
Mark as invalid. Feel free to re-open it if the bug is in gocui.

[2016-06-18 07:11] #51 closed

[2016-07-14 17:09] t94j0 opened #52 "Unable to get View after using SetLayout"
In my layout function, I am creating the view messages_box using `g.SetView("messages_box", 0, 0, maxX, maxY-5)`. After using g.SetLayout(layout), I try to call `messageView, err := g.View("messages_box")`, but I keep getting "unknown view."

[2016-07-20 19:29] jroimartin commented on #52
Can you send a small snippet to reproduce the error? Also, have you taken a look at the `_examples` folder?

[2016-07-20 19:32] jroimartin commented on #52
Also, where are you calling g.View from? As you can see in the [documentation](https://godoc.org/github.com/jroimartin/gocui):

[code]

[2016-07-27 14:46] t94j0 commented on #52
I am now using Gui.Execute() and it is working. My bad for not reading the docs well enough.

[2016-07-27 14:46] #52 closed

[2016-07-29 00:08] jameycribbs opened #53 "Reading buffer without carriage returns inserted by Wrap = true"
Hey!  First of all, thank you so much for an awesome library!  I have only been using it for a few days but I already have a version of my app working really well, thanks to how great your library is.

I am building a simple cui note taking app (https://github.com/jameycribbs/cribbnotes_cui).  So far, I've been able to get pretty much everything working that I want, but I have run into an issue wh

[2016-07-29 13:19] jameycribbs commented on #53
So, I dug into the library code a little more and I see that in the Buffer() function, a "\n" is getting inserted at the end of every entry in v.lines as the output string is being built up.

I think that may be where the newlines are coming from when I call Buffer().

So, I guess my question is, if Buffer() is supposed to be an internal representation of the contents, why is are the newlines bein

[2016-07-31 15:05] jroimartin commented on #53
Hi Jamey!

I've just added a new example that saves the contents of a wrapping view in two different ways:

https://github.com/jroimartin/gocui/blob/master/_examples/save.go

If you press `C-s` it will save the internal buffer of the view (what you want) and with `C-w` it saves the visual representation of the buffer (what you see in the GUI, including wrapped lines).

As you can see, there are tw

[2016-07-31 15:23] jroimartin commented on #53
I've just edited my previous comment and added more details about the gocui internals related to your question.

[2016-07-31 15:34] jroimartin commented on #53
OK! I've just found the bug that is affecting you. So, there are two scenarios:

1. In my example, I'm writing the contents of a file to a wrapping View and after resizing to get wrapped lines, when you save it, it just works fine not adding wrong newlines.

2. If you edit a wrapping view, there is a bug in the edition mode that split lines when you get to the end of the line, messing up in the in

[2016-07-31 16:46] jameycribbs commented on #53
Thanks!  I am really having a great time with gocui.  I have already implemented a rudimentary vim-mode for editing notes (I'm a vim guy, so this is a big deal for me!).

[2016-08-15 11:54] ERnsTL opened #54 "View.Line() does not return entered line of text"
Greetings,

I may have stumbled across a bug, otherwise requesting clarification :-)

Here goes:

I need to implement a simple text entry, this is done inside a ```View```. Just 1 line of text entry is desired - think a password / IP address / hostname etc., something short.

I implemented this using the ```View.Editable = true``` functionality so that a user can comfortably enter text. Wrote a ha

[2016-08-15 16:34] jroimartin commented on #54
You are right, looks like a bug. I'll try to fix it as soon as possible.

On the other hand, I want to rewrite the edition mode from scratch and this bug is quite related, so it should be addressed as soon as the new edition mode is in place.

Thanks for reporting it!

[2016-08-17 16:58] ERnsTL opened #55 "Keybinding on gocui.KeyEsc does not seem to work"
Greetings, I just wanted to catch the Escape key via a key binding, but it did not work. I used other key bindings, so they generally seem to work. I tried in different terminal emulators, checked escape sequence options. System here: recent Ubuntu Linux.

Copy-paste test program:

[code]

Maybe this is just a wrong keycode taken over from ```termbox```, I dont know.

[2016-08-17 17:29] jroimartin commented on #55
Please, check the following comment:

https://github.com/jroimartin/gocui/issues/47#issuecomment-213737189

Does it answer your question? If not, please let me know :)

[2016-08-18 17:47] ERnsTL commented on #55
Thanks for the pointer! Catching Esc key + number key 2 works using the solution described there:

[code]

 That probably covers all key combinations involving Esc, good to know!

Though how can I write a key binding for the Esc key alone? I tried

[code]

but it does not work. Is there any way to handle the Esc key alone?

Would like to be able to close a view on Esc key, or exit a window/dialog/

[2016-08-28 04:10] gbitten commented on #47
This PR (https://github.com/jroimartin/gocui/pull/56) makes the KeyESC binding work correctly.

[2016-08-29 20:33] leerumler commented on #32
Looks like I'm a little late to the party, but I would love to see the ability to delete keybindings implemented.  I'm currently working on a project, and I found myself needing to create six views that are almost entirely identical because I need to set different keybindings on each of them.  None of the views should ever be active at the same time, so being able to re-use that view with differen

[2016-08-30 20:19] jroimartin commented on #55
This is now possible thanks to #56. Give a look to the PR :) Also, you have more details here:

https://godoc.org/github.com/nsf/termbox-go#InputMode

[2016-08-30 21:14] jroimartin commented on #32
Hi @leerumler,

I've just added *Gui.DeleteKeybinding in 2a0623774fea2f2326126a71f1099a0a395e004c. Is it enough? :)

[2016-08-30 21:58] jroimartin opened #57 "Bug printing frames"
![image](https://cloud.githubusercontent.com/assets/1223476/18108666/8fed3ca0-6f0d-11e6-8fbf-0bf81a752d86.png)

[2016-08-30 22:02] jroimartin opened #58 "Cannot change view's bgcolor"
After adding support for coloured text, changing view's bgcolor is not possible.

[2016-08-31 13:02] jameycribbs commented on #55
Excellent!  Thanks so much for this!  This gets cribbnotes_cui that much closer to feel like it has a real vim mode!

[2016-08-31 13:38] #55 closed

[2016-09-12 05:34] leerumler commented on #32
Sorry for the late response on this, but yeah, that will work perfectly!  Thank you!

[2016-09-14 08:28] #32 closed

[2016-10-03 21:05] #58 closed

[2016-10-03 22:12] #57 closed

[2016-10-06 17:53] tkausl commented on #54
I came across the same problem today, the problem seems to be that the handlers are executed after the key was already put in to the field, hence it reads the last (now empty) line. It would be great if handlers were called _before_ any other action happens and - even better - if they could prevent further actions (as in not putting them in the edit-field).

[2016-10-11 05:40] jroimartin commented on #53
Should be fixed now.

[2016-10-11 05:40] #53 closed

[2016-10-11 05:44] jroimartin commented on #53
BTW I added [_examples/bufs.go](https://github.com/jroimartin/gocui/blob/8d16527c1d616dd5e9d09cf5f928489ece3c77e3/_examples/bufs.go) to easily test this. Just edit the view and press Ctrl+C to check the buffers.

[2016-10-11 06:32] jroimartin commented on #54
@tkausl is right. `v.Line` return the line in the position `y` (relative to the view's origin). Initially `v.Line(0)` points to the internal line 0 because the origin is (0, 0); but, once you press enter, a new line is inserter and the origin is moved to (0, 1) so `v.Line(0)` points to internal line 1 when the keybinding handler is executed.

After 76554e4f84a1ca8ac9301d59395eb492a1bc1558 handlers

[2016-10-11 09:47] jroimartin opened #60 "Rewrite edition mode"
Edition mode ([edit.go](https://github.com/jroimartin/gocui/blob/4e9ce9a8e26f2ef33dfe297dbdfca148733b6b9b/edit.go)) is getting complex, it should be rewritten at some point.

[2016-10-14 18:51] #54 closed

[2016-10-16 15:00] mephux opened #61 "Feature projects built with gocui"
I think it would be cool to have a section on the readme highlighting projects built using your awesome package. I have been working on an IRC client using it https://github.com/mephux/komanda-cli and I'm sure there are hundreds of others.

Anyway, thought it would be a good idea to highlight how easy this package makes it building pretty complex terminal UI's outside of the examples in the packag

[2016-10-16 16:38] jroimartin commented on #61
I think it's a good idea. I've just updated the README with some projects using gocui and more screenshots.

Thanks for the support! :)

[2016-10-16 17:36] mephux commented on #61
@jroimartin  awesome, thanks. Side-note: where can I get the source for the radare2 cli tool?

[2016-10-16 21:13] jroimartin commented on #61
@mephux it's just a PoC I started writing during the weekend, but it's far from being finished. I'll publish it at some point once I implement a basic set of features :)

[2016-10-16 21:13] #61 closed

[2016-10-18 01:52] cocodrino commented on #10
Hi..I agree with this issue...I'll appreciate if you can provide some useful samples like a menu, would be could see how you build a menu which you can select the item with the keyboard...or even better, simplify how build basic vertical/horizontal menu...inputs box and things more related to UI

thank so much..the lib seems pretty cool although I need check more the code for understand better how

[2016-10-18 17:53] jroimartin commented on #10
@cocodrino sure! I'll include more real-world examples like the ones you mentioned.

[2016-10-24 14:48] kkellner opened #64 "cygwin on Microsoft Windows - gocui no views are shown"
Running gocui on Microsoft Windows with a cygwin shell, no views are shown.   E.g., running _example/hello.go results in no output.  Looks like it hangs, but ctrl-c does exit the app.

[2016-10-24 20:28] jroimartin commented on #64
gocui uses [termbox-go](https://github.com/nsf/termbox-go) under the hood. As a result, it has native windows support and should just work with both cmd.exe and powershell. Have you tried it?

On the other hand, looking for "cygwin" in the termbox-go repo I found the following issue:
* https://github.com/nsf/termbox-go/issues/66

[2016-10-24 20:40] jroimartin commented on #10
I've been working on refactoring gocui to allow building "widgets" in an easy way. The result of this refactoring is the new [Manager](https://godoc.org/github.com/jroimartin/gocui#Manager) interface.

Based on this feature, I wrote a simple example with some gadgets (labels, buttons, status bar) that can be used as a guide to build more complex ones:

[_examples/widgets.go](https://github.com/jro

[2016-10-24 23:01] kkellner commented on #64
cmd.exe works fine.  It does look like nsf/termbox-go#66 is the issue I'm running into.  Unfortunate this doesn't work.   A not-ideal workaround is to run this in cygwin terminal: "cmd.exe /c mygoprogram.exe".   This launches a new terminal windows running "cmd.exe" where the application works.   Just not a great end-user experience.

[2016-10-25 08:44] #64 closed

[2016-10-25 08:44] #35 closed

[2016-10-25 08:51] dareg commented on #10
Thanks!

[2016-10-26 02:30] thekeymaker opened #65 "Keybinding prints key when switching to editable view."
I am trying to write some code that edits a view with vim like key-bindings.   The problem I am running into is the key I press is also getting inserted.  I have put together some test code to hopefully explain better.

	package main

	import (
		"log"
		"github.com/jroimartin/gocui"
	)

	func edit(g *gocui.Gui, v *gocui.View) error {
		v.Editable = true
		return nil
	}

	func quit(g *gocui.Gui, v

[2016-10-26 08:42] jroimartin commented on #65
Other people requested this behaviour before (issue #54) and after some tests I think it's good change. So, PR #66 should fix it, can you check?

Thanks! :)

[2016-10-26 08:43] jroimartin commented on #54
@tkausl can you check PR #65? :)

[2016-10-26 09:13] jroimartin commented on #65
BTW take into account that after this change if any keybinding matches the event, its handler is executed and the edition step is skipped. It means that, in your example, if you want to type `i` after making the view Editable, you will need to delete this keybinding.

[code]

[2016-10-26 10:09] tkausl commented on #54
Looks good for a start

[2016-10-26 12:19] thekeymaker commented on #65
I can defiantly try this out and get back to you later today.   Thanks for the changes.

[2016-10-26 13:02] thekeymaker commented on #65
That looks good for me.  Your right, with this new then I would have to assign the key again if I ever wanted that functionality back.  Here is my previous code modified to do just that and works with your new commit:

	package main

	import (
	    "log"
	    "github.com/jroimartin/gocui"
	)

	func edit(g *gocui.Gui, v *gocui.View) error {
	    v.Editable = true

		if err := g.DeleteKeybinding("ma

[2016-10-26 21:19] jroimartin commented on #65
Let's keep it simple for now. At some point, if needed, we can add a Passthrough field to View.

BTW for your specific case, you can use the Editor interface to implement a custom edition mode. For instance, the following snippet shows how to create a simple vim editor:

https://gist.github.com/jroimartin/1ac98d3da7278fa18866c9cae0af6007

[2016-10-26 23:03] jroimartin commented on #65
PR #67 is also related.

[2016-10-27 00:11] thekeymaker commented on #65
Cool!  I will have to take a look at that.  Thanks for the help.  It looks like you merge this change into master so you can close this issue if it isn't still in progress.

Cheers!

[2016-10-27 14:28] cakofony opened #68 "Semantic Versioning"
Thanks for putting together such a helpful project!
There are a lot of api breaking changes between the `0.3.0` tag and the tip of master, is there any chance the next version could bump the major version to `1`?

[2016-10-27 20:22] #65 closed

[2016-10-27 20:32] jroimartin commented on #68
I'll probably release `1.0` soon, but first I want to rewrite the basic edition mode and make sure that the API can be considerable stable, so we avoid future breaking changes.

[2016-10-27 21:34] #10 closed

[2016-10-28 07:33] kkellner opened #69 "view.Line(n) contains "\x00" at end"
I need to get the text a line n but len(line) is off because of "\x00" at end of line.

Example:
line := v.Line(n)
if len(line) > 10 {
  // Do something
}

The above doesn't work as expected because len is off by 1.  Would be nice if Line func would do the following before it returns value:

strings.Replace(lineValue, "\x00", "", -1)

[2016-10-28 07:36] kkellner opened #70 "View with no frame -- consume zero character space"
Need an option for a view to have no Frame.

When you do:
v.Frame = false
you still get a border, its just spaces instead of a visible line.  I need a view option that consume no visual space for its border.

[2016-10-28 08:51] jroimartin commented on #69
Can you confirm if it only happens with lines that have been manually written in editable Views?

If so, it's closely related to #60 and should be fixed once that issue is closed. On the other hand, rewriting the edition mode is in progress and (hopefully) will be merged soon.

[2016-10-28 08:56] jroimartin commented on #70
I'll look into it after closing #60. I need to check what implications this change would have from the internals point of view.

[2016-10-28 15:17] cocodrino opened #71 "assignment count mismatch: 2 = 1"
Hi, I'm receiving this error with every updated example

for instance
[code]

this only happens with the latest gocui, samples in prior commits show ok

[code]

do you know what could be the issue
thanks!!

[2016-10-28 16:18] kkellner commented on #69
Confirmed -- this is only happening with view's that have editors attached.

FYI, my use case is creating a "field widget" to enter 1 line of short text, like a input field on a web page.  It will have a label, a fieldName and a maxLength.  This will create two views, 1 that will contain the field label and another 1 row view that will be used for the field entry text.

I wrappered the exiting edi

[2016-10-28 16:31] jroimartin commented on #71
I've just tested it and it's working fine. Are you mixing different versions between demos and gocui?

[2016-10-28 19:04] cocodrino commented on #71
nope..I've removed the old gocui, then install the new one and clone the repo, after check than it doesnt work I tried the examples in the old repo and they work ok...I'll check this more deep tomorrow, I was really interested in check the new examples :crying_cat_face:

[2016-10-28 22:46] jroimartin commented on #71
Try with:

[code]

[2016-10-29 22:21] cocodrino commented on #71
Hi...after update the go version and the package I was able to run the samples..thank so much it looks great

[2016-10-29 22:21] #71 closed

[2016-10-30 00:36] jroimartin commented on #69
What about doing it this way?

https://gist.github.com/jroimartin/3b2e943a3811d795e0718b4a95b89bec

[2016-10-30 00:43] jroimartin commented on #69
Please, take into account that I did several simplifications, but should be enough to get an idea :)

[2016-10-30 00:49] #68 closed

[2016-10-30 01:47] kkellner commented on #69
Your example is pretty close, however it doesn't allow for arrow keys for editing text already typed into the field.   My version used a wrapper around the DefaultEditor to do any special processing on keystrocks, then pass them onto the DefaultEditor as I didn't want to deal with the complexity of processing the arrow keys, insert, etc.   Below was my func...   a bit ugly with debug code in.   Yo

[2016-10-30 10:33] jroimartin commented on #69
Yes, I tried to keep the snippet as simple as possible and focus on how to create widgets and so on. Definitely, the new edition mode should make easier to customize this kind of things.

[2016-10-30 16:43] mephux opened #72 "256 colors"
Any reason why  using this shouldn't work? https://github.com/aybabtme/rgbterm

[2016-10-30 18:23] jroimartin commented on #72
Right now gocui uses termbox with `OutputNormal` (8 colors) because it should work in all terminals. For instance, in the case of windows, this is the only valid mode:

https://github.com/nsf/termbox-go/blob/b6acae516ace002cb8105a89024544a1480655a5/api_windows.go#L225-L231

Maybe, we can keep `OutputNormal` as default and provide a new option to set the mode to 256 colors.

For more information:
h

[2016-10-30 20:32] mephux commented on #72
@jroimartin roger, makes sense. I'll start playing around with SetOutputMode

[2016-11-03 16:27] rgl opened #73 "Is there any plans to implement something like Turbo Vision?"
Is there any plans to implement something along the lines of [Turbo Vision](https://en.wikipedia.org/wiki/Turbo_Vision) or [Free Vision](http://wiki.freepascal.org/Free_Vision)? That is, having windows and widgets?

You can see images about its widgets at the [google images](https://www.google.com/search?q=turbo+vision) (switch to the images tab).

[2016-11-04 00:46] jroimartin commented on #73
Based on the images, a user should be able to implement similar interfaces combining Views, Keybindings and Managers to create widgets and layouts than can be reused. I want to keep gocui really simple, exposing enough functionalities to allow building more complex stuff on top of it.

[2016-11-04 23:13] mephux commented on #72
@Jameskmonger so I had more time to look into this - looks like we would need to change all the SetCell calls for 256 support but that's connected to a lot of other calls.

Before I start to try and add support for this, do you have any recommendations on how you want that to work? Would hate to have to use a fork and would rather produce something that can be merged into this project.

[2016-11-05 02:33] #73 closed

[2016-11-05 03:44] jroimartin commented on #72
@mephux why would you need to change all the calls to `SetCell()`?

I could not look into it, but I feel that it's more related to `*escapeInterpreter.parseOne()`. You should handle 256-colors ESC sequences, so the cell colors are set accordingly. Also, it shouldn't be possible to change between output modes during the execution.

[2016-11-05 13:20] mephux commented on #72
@jroimartin was basing that off the comments here https://github.com/nsf/termbox-go/blob/b6acae516ace002cb8105a89024544a1480655a5/api.go#L409-L419

[2016-11-05 13:30] jroimartin commented on #72
Yes, but it's all about setting the correct `curFgColor`/`curBgColor` values in `*escapeInterpreter.parseOne()`, right?

So, if you implement parsing for 256-colors ESC sequences, `SetCell` should be called with the right new colors.

[code]

At least, that would be my first approach, but I might be missing something :)

[2016-11-05 13:32] jroimartin commented on #72
BTW thanks a lot for your help!

[2016-11-05 13:33] mephux commented on #72
@jroimartin no worries and you're correct. I'll get it done. :)

[2016-11-05 19:15] mephux commented on #72
@Jameskmonger ok, pushed an atrocious prototype for 256 support https://github.com/mephux/gocui

 * Option to set OutputMode: https://github.com/mephux/gocui/blob/master/gui.go#L77-L86
 * Escape logic: https://github.com/mephux/gocui/blob/master/escape.go#L144-L242

I also created a branch of my IRC client that is using it: https://github.com/mephux/komanda-cli/tree/256

A few issues I ran into wa

[2016-11-05 19:20] mephux commented on #72
Another note: https://github.com/mephux/komanda-cli/blob/256/komanda/color/color.go#L27
Should be light grey - the ouput is correct..

```logs :: util.go:263: (string) (len=23) "\x1b[38;5;124m03:20\x1b[0;00m"```

but shows a pinkish.. haha

[2016-11-05 20:13] jroimartin commented on #72
Awesome! Can you open a PR? It'll be easier for code reviewing and making changes.

[2016-11-05 20:21] mephux commented on #72
@jroimartin done

[2016-11-05 20:26] jroimartin commented on #72
Great. I referenced this issue from the PR, so I'm closing this issue and we can continue the discussion there.

[2016-11-05 20:26] #72 closed

[2016-11-11 23:30] libeclipse opened #77 "Forcing a re-update from another go-routine."
I think #15 is related but it seems outdated since I can't find any reference to concurrency or the flush() function/method in the [docs](https://godoc.org/github.com/jroimartin/gocui).

How can you update a view from another goroutine? Currently the only way I can make edits show up on the screen is by pressing a random key so it loops again and shows the updates. How can this be down without pre

[2016-11-12 07:44] jroimartin commented on #77
You can use *Gui.Execute():

https://godoc.org/github.com/jroimartin/gocui#Gui.Execute

From the documentation:

IMPORTANT: Views can only be created, destroyed or updated in three ways: from the Layout function within managers, from keybinding callbacks or via *Gui.Execute(). The reason for this is that it allows gocui to be conccurent-safe. So, if you want to update your GUI from a goroutine, yo

[2016-11-12 12:02] libeclipse commented on #77
Ah I see. Sorry, that wasn't immediately obvious.

[2016-11-13 11:00] jroimartin commented on #77
No problem! I'll try to make it clearer on the documentation. Also, I'm considering to rename it from `*Gui.Execute()` to `*Gui.Do()`.

[2016-11-13 11:03] libeclipse commented on #77
I think it should just be more clear what execute does exactly, not just what you can use it to do.

Also, would the rename retain backwards compatibility?

[2016-11-13 11:20] jroimartin commented on #77
Regarding backwards compatibility, If you look at the commits since tag `v0.3`, there are lots of breaking changes. I prefer to continue working on improving the API and making it more clear and consistent, even if it requires breaking the "contract".

Once gocui reaches `1.0`, the API should be stable and new changes will respect backwards compatibility. In the meantime, people can use vendoring,

[2016-11-13 11:21] jroimartin commented on #77
Relates to: #68

[2016-11-13 11:22] libeclipse commented on #77
Ah alright. That's fair enough.

On Sun, 13 Nov 2016, 11:20 Roi Martin, <notifications@github.com> wrote:

[2016-11-13 11:36] jroimartin opened #78 "Improve documentation about concurrency and *Gui.Execute()"
Explain how concurrency works in gocui under the hood. For instance, write a bit about channels for keyboard/mouse and user events and put more emphasis on how to modify views from goroutines.

Relates to #77

[2016-11-13 11:38] jroimartin opened #79 "Rename *Gui.Execute() to *Gui.Do()"
Rename `*Gui.Execute()` to `*Gui.Do()` and update documentation accordingly.

Relates to #77

[2016-11-13 11:39] jroimartin commented on #77
I created #78 and #79. Is is ok for you if I close this one? :)

[2016-11-13 11:40] libeclipse commented on #77
Sure thing.

[2016-11-13 11:40] #77 closed

[2016-11-13 11:47] libeclipse opened #80 "Extra character outputted when typing"
This (bug?) isn't immediately obvious, but it pops its head up on Windows especially.

When typing, there's an extra character that is outputted where your cursor is. You can make it more obvious by activating the mask in `_examples/mask.go` and typing. Pressing the delete key removes this extra character. In Linux it's invisible but in windows it shows up, I'm thinking maybe it's an ANSI escape c

[2016-11-13 11:55] libeclipse opened #81 "Buffer isn't fully cleared when clear() is called and cursor isn't reset."
This should really be two different issues but they're closely related so I'll group them together here.

Say there's an input box. There's a key binding for `KeyEnter`, and when it is triggered, we grab the buffer with `v.Buffer()`, handle it, then do the following to clear and reset:

[code]

However, the cursor position seems to only reset to the top of what's in view and the whitespace remains

[2016-11-13 12:02] awnumar opened #82 "Disabling arrow keys for empty lines."
When using a text editor, it's customary that using the `down` or `right` arrow keys have no effect when we're at the end of the text and there's no more characters after the cursor. The `enter` key is then used to insert a new line.

In an input box created with `v.Editable = true`, the cursor keys can be used indefinitely to create newlines (see `_examples/mask.go`). Since we're still pre-`v1.0.

[2016-11-13 12:11] jroimartin commented on #80
Duplicates: #69
Relates to: #60

[2016-11-13 12:16] jroimartin commented on #82
This will be handled by the new edition mode. We'll close this issue after confirming that the new edition mode effectively fixes this.

Relates to: #60

[2016-11-13 12:21] jroimartin commented on #81
Take into account that the position is governed by two functions:
* `*View.SetCursor()`: https://godoc.org/github.com/jroimartin/gocui#View.SetCursor
* `*View.SetOrigin()`: https://godoc.org/github.com/jroimartin/gocui#View.SetOrigin

[2016-11-13 12:22] libeclipse commented on #80
Are you sure that it's a `NULL` at the end of the line? Like I said, copying it seems to show that it's a `\x20` (SPACE).

[2016-11-13 12:38] jroimartin commented on #80
Yes, it should. I'm referring to the internal representation.

[2016-11-13 13:24] Spriithy opened #83 "Correct concurrent use of stdin : user input field"
Hey there, I'm totally new to `gocui` / `term-box` etc.
I am trying to make a simple frame in which on can type text in an input field and when hitting enter, the field is cleared, and text appended to another view.

However, when using the `/_examples/stdin.go` method, the program just freezes before even displaying the frames.

How should I go about it ?

[2016-11-13 13:26] libeclipse commented on #83
You can have a key binding to KeyEnter that handles the Buffer and resets everything. You can knit together a solution using the different examples in `_examples`.

[2016-11-13 13:30] Spriithy commented on #83
Is `stdin` still being updated as I type in a view ? If yes, that's fairly easy

[2016-11-13 13:32] libeclipse commented on #83
When you type in a view, the data is stored in an internal buffer that can be accessed with `v.Buffer()`, and cleared with `v.Clear()`. See the docs for details.

[2016-11-13 14:08] Spriithy commented on #83
Oh and, `g.SetCurrentView("...")` seems not to give the stdin focus to the given frame ...

[2016-11-13 14:11] libeclipse commented on #83
I'm not sure what you mean. Could you elaborate on what you're trying to do exactly and what part of it isn't working as expected?

[2016-11-13 14:16] libeclipse commented on #81
Ah I see `SetCursor()` is behaving as expected. Am I right in thinking that - to move the cursor to the original origin place - I'd do both `SetOrigin(0, 0)` and `SetCursor(0, 0)`?

[2016-11-13 14:17] Spriithy commented on #83
Sure, there I have a small snippet that sets the focus on the`in` view.
[code]
In my keybind initializing phase I have (when pressing `Return`) this :
[code]

which redirects the content of the `in_view` buffer to the `out` view. However, the only content I can manage to have printed correctly is the initial content of `in_view`. That is to say, that when I type anything, the content is not being

[2016-11-13 14:25] libeclipse commented on #83
Correct me if I'm wrong @jroimartin

I don't think views have a Println() method. The correct way to print to a view is to call `fmt.Fprintln(v, data)`.

Also, the `g.SetCurrentView()` should be called after the `g.SetView()` declaration.

[2016-11-13 14:28] Spriithy commented on #83
I know they don't have the `Println` method :) I implemented it in my custom view type

[2016-11-13 14:39] jroimartin commented on #81
Exactly, you are right.

You can think of a View as a "window" over a buffer, so `SetCursor()` sets the position on the cursor within this window and `SetOrigin()` sets the position of the window with respect to the buffer.

[2016-11-13 14:56] Spriithy commented on #83
Well, even with everything setup as expected and asked by the doc, the production is not really what expected ... Are you sure the `stdin` content is redirected to the `.Buffer()` method of the view ? @libeclipse

[2016-11-13 14:59] libeclipse commented on #83
Anything that is typed into an editable view ends up in the Buffer.

On Sun, 13 Nov 2016, 14:56 Spriithy, <notifications@github.com> wrote:

[2016-11-13 15:20] jroimartin commented on #83
First things first,

`_examples/stdin.go` reads from stdin and dumps the read data in hex to a view. It can be used as follows:

[code]

Now, I think you don't want to read from stdin but from other view. So, you need something like this:

https://gist.github.com/jroimartin/364810d993fbf7dca8f79fc45dd9e5fa

Is that right?

[2016-11-13 15:28] jroimartin commented on #83
BTW the correct approach here would be to create an input widget using the Manager interface and so on. So, take this just as a quick example :)

[2016-11-13 15:36] jroimartin commented on #81
Should we close this issue?

[2016-11-13 15:38] libeclipse commented on #81
I'm not at home right now, but when I am, I'll test this and then close it.

[2016-11-13 16:26] Spriithy commented on #83
Hey, thanks for the reply!
Well, that's clearly what I wanted to do! haha I just couldn't get my view to be editable
Thanks for the work done so far and the help!

[2016-11-13 16:26] #83 closed

[2016-11-13 16:50] jroimartin commented on #83
Great! 👍

[2016-11-13 18:31] libeclipse commented on #81
Nice, that seems to have fixed it.

[2016-11-13 18:31] #81 closed

[2016-11-13 18:47] #80 closed

[2016-11-13 20:22] libeclipse opened #84 "Scrolling programmatically?"
Is it possible to scroll programmatically, say with the arrow keys?

For example, say I have a view that has `v.AutoScroll = true`. Data is continuously printed to this view and so of course the data goes out of view after a while and new data replaces it.

Is it possible to bind `KeyArrowUp` and `KeyArrowDown` to scroll the view `n` lines up and down, respectively?

[2016-11-13 20:48] jroimartin commented on #84
Yes, you can use `*View.SetOrigin()` to implement scrolling. For instance:

https://github.com/jroimartin/gocui/blob/master/_examples/stdin.go#L100-L109

[2016-11-13 20:52] libeclipse commented on #84
I see that `v.AutoScroll` is set to false. Is this a temporary change? Ideally I'd like `v.AutoScroll` to be true when the view is at the bottom.

[2016-11-13 21:04] frizinak commented on #79
Can I also note this method does not guarantee the order in which userEvents are handled. You currently spawn a go routine to prevent the call from potentially blocking thus the channel push only occurs when the scheduler feels like it (and not in the order of the `gui.Execute` calls necessarily).

I would suggest making this call fully synchronous, not only waiting for the channel push to succeed

[2016-11-14 21:20] jroimartin commented on #79
Having both an async and sync methods could be useful. I'll take it into account. Thanks!

[2016-11-14 21:29] jroimartin commented on #84
You could use `*View.Origin()` and `*View.Cursor()` to calculate the y-position of the cursor in the view, then you can compare it with the number of lines in `*View.ViewBuffer()` to check if the view is at the bottom.

[2016-11-16 22:08] libeclipse commented on #84
Thanks for the advice. Here's some reference code for anyone else who might run into the same problem:

[code]

[2016-11-16 22:08] #84 closed

[2016-11-17 10:31] gsora opened #85 "Correctly handle invalid terminal dimensions"
[My application](https://github.com/gsora/polo-lendbot) have the following layout:

![](http://i.imgur.com/KiHN1A8.png)

If the terminal size goes under 83x38, my application just crashes because the terminal has invalid dimensions.

This is probably due to the fact that if it's impossible to draw all the tabs on the screen, gocui assumes that it's not possible to draw anything at all?

What's the

[2016-11-17 19:11] libeclipse commented on #85
You could make the dimensions relative to the window. So for example, if you want your top box to cover 75% of the screen, then (assuming `y = height of window`) the height of the box should be `y - (0.25 * y)`.

[2016-11-17 19:13] jroimartin commented on #85
Actually, gocui should not crash under this situation. However, depending on how you define your layout, it could happen that `*Gui.SetView()` returns an error because the given coordinates are not valid.

For instance, in the following piece of code:

[code]
(https://github.com/gsora/polo-lendbot/blob/master/main.go#L146)

If `(maxX/2)-40` or `maxY-37` are `<= 0` then `*Gui.View()` will return an

[2016-11-23 11:15] gbitten commented on #78
When a used gocui recently, I made the mistake of calling SetKeybinding from a Layout method. That made my system works weird, binding the same key multiple times. Saying that, maybe the best way for the documentation is to define the best practices or patterns to use gocui's methods in general.

[2016-11-23 14:12] gsora commented on #85
Is `layout()` (my layout function) being called when the view is resized too?

[2016-11-23 14:20] libeclipse commented on #78
I agree with @gbitten, but what should be considered is that _good practices _ can be found in the examples directory. However, they only teach people how they should use something, not how it works or why that way. The documentation is quite obscure in that respect.

[2016-11-23 14:39] jroimartin commented on #85
Yes

[2016-12-08 07:42] #85 closed

[2016-12-10 23:44] jpeeler commented on #79
I was surprised to see that the events were not FIFO. If a sync method or flag was available, that would be nice.

[2016-12-18 19:47] alicebob opened #88 "redraw on ^L"
Hi!

sometimes I mess up the screen with debug `print()`s, so I would like to bind ^L to force-redraw the whole screen when that happens. I can't find the redraw-everything function which, I think, is `Sync()` in termbox. Did I overlook the function? Or is it not available? Can I call termbox' `Sync()` somehow?

Thanks!

[2016-12-21 09:25] owllie90 opened #89 "undefined gocui.quit gocui.ModNone"
Hi,

I am installing sumoshell. But i have encountered the below errors:

undefined: gocui.Quit
undefined: gocui.ModNone

Kindly advise.

[2016-12-27 05:49] interlock commented on #70
Depending on your use case, you can working around this with using a negative coords.

This got me a status bar at the top of my screen for example:

[code]

[2016-12-27 05:53] kkellner commented on #70
I have used that in some cases, but I have other cases where a view is small and is not near the edges of the window.

[2017-01-30 22:04] libeclipse commented on #82
Is there any update to `v0.4`?

[2017-01-31 00:32] jroimartin commented on #82
I've been working on other projects during the last months, but I plan to resume gocui's development soon. Sorry for this inactivity period.

[2017-02-05 13:40] ERnsTL opened #90 "view.Line() returns trailing \x00 byte"
Greetings,

In relation to issue #54, which is now fixed, there is an issue remaining: view.Line(0) returns the whole line and no second line exists in the Enter key handler, but there is a trailing \x00 = null byte returned by view.Line(0).

Test program for cut and paste; the issue shows up in function ```readToken```:

[code]

[2017-02-05 22:50] jroimartin commented on #90
Thanks for reporting the issue! Could it be the same issue that #69 ?

[2017-02-05 22:57] jroimartin commented on #89
Hi,

Sorry for the late response. These errors have to do with the last changes introduced in gocui which required to modify its API. More info at:

https://github.com/jroimartin/gocui/issues/77#issuecomment-260179983

Sumoshell should be updated accordingly and they should also start using vendoring.

Thanks for reporting it!

[2017-02-05 22:58] #89 closed

[2017-02-05 23:20] jroimartin commented on #88
Hi!

First of all, sorry for my late response! Right now gocui does not exposes any method to call `termbox.Sync()` and I'm not sure if it should be added to the API. However, although **it's not recommended**, you can do something like this for your tests:

[code]

[2017-02-06 01:32] smithwinston opened #92 "What is the first screenshot of in the README.md?"
Trying to figure out what the first screenshot is in the README.md, only clue is "r2cui"  in the Markdown.  Some kind of debugger?

[2017-02-06 21:48] jroimartin commented on #92
r2cui is an experimental cui for [radare2](https://github.com/radare/radare2/). I've not published it because it's just a PoC I did in a couple of hours.

[2017-02-06 22:29] #92 closed

[2017-02-07 14:32] ERnsTL commented on #90
With regards to how the issue manifests, yes, this seems to be the same issue, though above test program does not do any complex editing, just asks the user for a string and catches the Enter key.

[2017-02-07 14:33] ERnsTL commented on #90
So the solution of this issue if I understand #69 correctly - depends on editing mode rewrite? Then it will be gone?

[2017-02-07 15:41] asciimoo opened #94 "Pasting long lines to wrapped view inserts unwanted newline characters on linux"
First of all, thanks the great project. It makes UI creation easy and intuitive.

I have the following issue: if I paste a longer line than the view's width, it breaks the line as the image shows: ![](https://cloud.githubusercontent.com/assets/8082/22674272/e65eef1c-ec93-11e6-9c15-3168199c4f03.png)

It works as expected, when I type a long line instead of pasting.

simplified demo code to reproduc

[2017-02-07 16:13] libeclipse commented on #94
I can reproduce this.

On Tue, 7 Feb 2017, 15:41 Adam Tauber, <notifications@github.com> wrote:

[2017-02-07 22:42] jroimartin commented on #90
Exactly, the editing mode rewrite will fix these issues. BTW is it ok if I close this issue? We can continue the discussion in #69.

[2017-02-07 22:56] jroimartin commented on #94
Confirmed. I'll check what's the problem. In the meantime, you can try with `v.Wrap = false`.

[2017-02-08 15:27] ERnsTL commented on #90
Sure, I see this issue is also linked back, so closing is perfectly fine.

[2017-02-08 15:27] #90 closed

[2017-02-08 18:02] carlca opened #95 "_example code does not run"
Hello, I've installed the code using ```go get github.com/jroimartin/gocui``` and tried to run several of the items in _examples. None of them run. Instead the go runtime just hangs with a blank line until I press Ctrl-C. I don't believe I've missed anything and I am waiting maybe 30 seconds before giving up. What am I doing wrong?

I'm running Go 1.7.4 on Windows 10 Pro 64 bit Insider Preview bui

[2017-02-08 21:10] #95 closed

[2017-02-08 21:31] udhos opened #96 "Add wuzz as project using gocui"
Add wuzz as project using gocui:

https://github.com/asciimoo/wuzz

[2017-02-09 03:38] Benaiah opened #97 "Expose termbox events to keybinding handlers"
I'm trying to add mouse-based view selection to https://github.com/asciimoo/wuzz, and I'm running into trouble. I can add a `MouseRelease` keybinding fine, and when I click in the text of a selected view it works perfectly. The issue is that, given a `gocui.Gui` `g`, I can't add a global keybinding that sets the view with `g.ViewByPosition` within the key handler, since it doesn't expose the under

[2017-02-10 22:00] jroimartin commented on #96
Done in aff177f6e3dfe9c70aad458270169c7eda9c0266.

[2017-02-10 22:00] #96 closed

[2017-02-10 22:05] jroimartin commented on #95
gocui uses [termbox-go](https://github.com/nsf/termbox-go) under the hood, which is the package used to interact with the terminal. So, gocui is compatible with those terminals supported by termbox.

[2017-02-10 22:15] jroimartin commented on #97
Maybe I don't understand the problem correctly, but what's the problem with this approach?

https://github.com/jroimartin/gocui/blob/master/_examples/mouse.go#L64-L68

and then:

https://github.com/jroimartin/gocui/blob/master/_examples/mouse.go#L83-L85

[2017-02-10 22:23] carlca commented on #95
Its Ok, I've got working with CMD. So everything is good! Thanks.

[2017-02-10 22:40] jroimartin commented on #97
BTW you could also create a widget for your textareas and handle mouse events from them, which could possibly clean up your code. For instance,

https://github.com/jroimartin/gocui/blob/master/_examples/widgets.go#L86-L113

[2017-02-10 23:48] #88 closed

[2017-02-10 23:51] Benaiah commented on #97
@jroimartin yeah, that could solve this specific problem, but it still doesn't allow for any determination of mouse position besides which view was clicked. In addition, wouldn't this disable the built-in gocui mouse feature of moving the cursor within the text of the view?

[2017-02-11 00:04] jroimartin commented on #97
You can use *View.Cursor() to know the cursor position within the clicked view.

https://github.com/jroimartin/gocui/blob/master/_examples/mouse.go#L87

It shouldn't, mouse keybindings are executed after setting the cursor position (`g.execKeybindings(v, ev)`):

https://github.com/jroimartin/gocui/blob/master/gui.go#L588-L600

[2017-02-11 00:06] Benaiah commented on #97
@jroimartin cool! Glad that this wasn't the issue I originally thought. Thanks for your help and patience.

[2017-02-11 00:11] jroimartin commented on #97
No problem! :)

BTW don't get me wrong, I'm open to change the API and I know there is lot of room for improvement, so if we find something in the API that should be modified we will do it. But always trying to keep it as simple and sane as possible, because that's one of the objective behind gocui.

[2017-02-11 00:52] #97 closed

[2017-02-21 07:28] lion-man44 opened #99 "Japanese multi-byte string display bug"
Hi!

Bug report link:
https://github.com/asciimoo/wuzz/issues/46

[2017-03-01 17:17] udhos opened #100 "Add httplab as project using gocui"
https://github.com/gchaincl/httplab

[2017-03-06 23:01] MichaelThessel opened #101 "Project list - domainr"
Hi,

Thanks for gocui! I Terminal GUI is the way forward :)

I wote [domainr](https://github.com/MichaelThessel/domainr/) which uses gocui for the UI. Feel free to add it to the projects list.

[2017-03-07 07:48] jroimartin commented on #101
Hi! Thanks! Added via 5424b93b3bf08437980def1c4a20f6c8c362f070.

[2017-03-07 07:48] #101 closed

[2017-03-07 07:48] jroimartin commented on #100
Hi! Thanks! Added via 5424b93b3bf08437980def1c4a20f6c8c362f070.

[2017-03-07 07:48] #100 closed

[2017-03-07 08:05] jroimartin commented on #99
Hi!

This is related to #74 and #60. I'm closing this issue because #60 is already open.

Thanks!

[2017-03-07 08:05] #99 closed

[2017-03-07 18:25] MichaelThessel commented on #101
Thanks!

[2017-03-09 14:30] Fjolnir-Dvorak opened #102 "[Windows] Vertical resize only expanding view"
The view is not resized to a smaller size if I am descreasing the vertical axis of the terminal. Tested on windows 10 Powershell, cmd, GitCMD. Well, powershell is special because here only the enlarenment is working...

... just started to program in go using this library / tool so I am not yet ready to solve and commit this issue on my own.

[2017-03-09 14:36] Fjolnir-Dvorak commented on #102
And silly me commited the issue to gocui without checking if wuzz just used the library in a wrong way or forgot something to implement. I am sorry.

[2017-03-12 17:29] libeclipse commented on #82
@jroimartin Not to be pushy or anything, but is there an ETA? I have a few projects that are on hold until this is fixed.

[2017-03-23 06:06] onetwogoo opened #103 "Support to trim old lines in view"
The current implementation of View cannot be used as a log output window. Because such window produces thousands of lines per second. And finally leads to OOM because old lines are not clear out of memory.

View should support something like 'max lines` just like all terminal emulators. Old lines should be removed from the internal buffer.

[2017-03-23 06:35] libeclipse commented on #103
I agree with this. +1

[2017-03-25 07:49] knqyf263 opened #105 "The layout is skewed on Windows"
I built this sample code and ran on Windows 7.
https://github.com/jroimartin/gocui#example

The layout is skewed. How can I avoid this?

<img width="638" alt="2017-03-25 16 44 50" src="https://cloud.githubusercontent.com/assets/2253692/24320538/84f55430-117a-11e7-9e0a-94ca1e88c016.png">

Thank you for the awesome library!

[2017-03-28 20:05] libeclipse commented on #105
Where's the sample code?

[2017-04-01 22:18] libeclipse commented on #79
I think .Update would be a better name for this. The two suggestions don't really get across what the function is actually for imo.

[2017-04-17 00:11] telecoda opened #107 "Mouse clicks are not triggering correct key bindings for overlapping views"
I have noticed that mouse events are not triggering keybindings if there is a larger view in front of a smaller view.  Even when the smaller view is set to be the TOP view.

This is because the views are being checked from the bottom upwards, not top down.

The PR below fixes the issue.
https://github.com/jroimartin/gocui/pull/106

[2017-04-18 14:41] oakes commented on #82
Possibly related, but I noticed (at least in the OS X terminal app) scrolling causes ASCII codes like `<64;72;17M` to appear. Perhaps there is a way to intercept text before it gets to the buffer, so we can prevent that from appearing?

[2017-04-18 20:29] jroimartin commented on #82
@oakes related: https://github.com/jroimartin/gocui/issues/35

[2017-04-18 23:18] oakes commented on #82
@jroimartin Interesting, thanks. Is there a way to just disable mouse scrolling altogether?

[2017-05-13 22:27] alltom opened #108 "io.Copy(view, reader)"
I want to stream data to a view, and it seemed like the easiest way would be to write:

    go func() { io.Copy(view, reader) }()

However, it looks like view.Write() isn't thread-safe.

Is the best way to accomplish this task to write my own Copy that wraps all writes in g.Execute()?

[2017-05-16 19:56] tscott0 opened #109 "Unable to distinguish between resize events and others"
Firstly, I'm a huge fan of gocui!

I'm very likely missing something but I can't find a way to detect a resize event.

I can put resize code in my ManagerFunc (Layout) but that will be executed for every iteration of the main loop and for every event, including keypresses.

Ideally I would be able to bind a function to resize events in a similar way to SetKeybinding. This could function in a simil

[2017-05-17 16:55] eduncan911 commented on #105
i'm not affiliated with the project, just a passer-by...

but, you'll need to supply more details.

what shell are you using?  CMD?  trying to run from cygwin?

In the past, most of my problems for "alignment" has been the shell didn't have the correct variables set.  so, the application just had to make best guesses (120x80?  80x30?, etc).  that may have been what happened here?

try making your

[2017-05-18 04:16] knqyf263 commented on #105
@eduncan911 Thanks for your advice!

I use `cmd.exe`.
The behavior is below.

![gocui](https://cloud.githubusercontent.com/assets/2253692/26186292/8029a5d4-3bcb-11e7-9c67-17553e35c50a.gif)

I used this sample code.
https://github.com/jroimartin/gocui#example

After try making my console fullscreen, the result is the same:cry:

![gocui_fullscreen](https://cloud.githubusercontent.com/assets/2253692/

[2017-05-18 04:19] libeclipse commented on #105
I remember someone mentioning this exact issue before, but I can't seem to find it. What version are you using?

[2017-05-18 04:27] knqyf263 commented on #105
I'm using the latest version of `gocui`.
I did `go get github.com/jroimartin/gocui` a while ago.

The latest commit is `612b0b2987ec1a6af46d7008cef1efd4b3898346`

I cross-compiled on Mac. Is it affected?
[code]

[2017-05-18 04:29] libeclipse commented on #105
Shouldn't be. Cross compiling in Go should be the same as compiling on the
target platform.

On Thu, 18 May 2017, 05:27 Teppei Fukuda, <notifications@github.com> wrote:

[2017-05-27 20:07] pkazmier opened #110 "What is the difference between Buffer() and ViewBuffer()?"
I'm trying to understand the difference between `Buffer()` and `ViewBuffer()`. My understanding is that `ViewBuffer()` should only return what is actually viewable on the screen. However, this is not the behavior seen when running the `_examples/buf.go` demo. It also does not work with the `_examples/demo.go` when pressing `KeyCtrlW`, which saves the entire text of Tom Sawyer. Am I missing somethi

[2017-06-11 00:31] AnirudhVyas commented on #40
how? running into same issue ...

[2017-06-25 21:46] thehowl opened #111 "Shift-Enter?"
How can I handle the case where the user presses Shift-Enter? I want to use this in case in my textfield the user wants to force a newline instead of a send, but I see that there is no documented way for handling Shift + Enter.

This also holds true even for some Ctrl combinations, like Ctrl-Left and Ctrl-Right

[2017-06-25 21:49] thehowl commented on #110
From what I understood, the difference is mostly useful when Wrap is true. In that case, ViewBuffer returns the buffer with newlines as they are shown on screen, while Buffer has newlines only when there are actually in the text.

If you need to calculate the position of the Cursor/Origin, you should use ViewBuffer. If you need to get the contents of a view to handle the text, use Buffer.

[2017-07-08 18:41] nanohard opened #112 "Project created: gotime"
CLI project/task management.
https://github.com/nanohard/gotime

[2017-08-15 19:47] jroimartin commented on #110
Exactly. Long story short, what you see in the screen is a slice of `ViewBuffer()`.

<img width="169" alt="screen shot 2017-08-15 at 21 46 18" src="https://user-images.githubusercontent.com/1223476/29333208-38e6769c-8203-11e7-8806-216db1568850.png">

<img width="219" alt="screen shot 2017-08-15 at 21 46 30" src="https://user-images.githubusercontent.com/1223476/29333215-3baae78c-8203-11e7-9864-7ea

[2017-08-15 19:52] jroimartin commented on #112
Cool! Added to README via 70a276872a4511ab203f2c24bf2f943ac0e0a1a4.

[2017-08-15 19:52] #112 closed

[2017-08-15 19:57] #110 closed

[2017-08-15 20:13] jroimartin commented on #109
Hi! First of all, sorry for my late response.

My next goal is to rewrite the edition mode (I should've finished it long time ago :P). But, after that, I'll revisit the feature requests.

One question, what's your specific use case? I'd like to keep the API as simple as possible and it's important to know it in order to decide if it should be included.

[2017-08-15 20:15] jroimartin commented on #107
Thanks for the fix! The PR has been merged, so I'm closing this issue.

[2017-08-15 20:15] #107 closed

[2017-08-15 20:43] jroimartin commented on #102
I've just added the following example: [size](https://github.com/jroimartin/gocui/blob/master/_examples/size.go). Can you run it from the different terminals and check if the values change accordingly to the resize event?

gocui uses termbox-go under the hood, which is the package used to interact with the terminal:

https://github.com/jroimartin/gocui/blob/master/gui.go#L425

So, if it does not w

[2017-08-15 22:06] tscott0 commented on #109
Hi. Thanks for the response!

It's been a while so I'm struggling to remember :) but my specific use case is having some code executed on a resize event. Ideally this code would only be executed then and not for every event. One use for this could be to completely hide a view if the terminal is too small.

Keypress events are nicely separated already, allowing SetKeybinding to pass a func that wil

[2017-08-15 22:27] jroimartin commented on #109
That make sense. It should be easy, so I'll add this functionality before the next release.

Thanks for the feedback! :)

[2017-08-15 22:33] jroimartin commented on #108
Yes, you are right. Write operations should be wrapped in `g.Execute()` to be thread-safe.

[2017-08-15 22:52] jroimartin commented on #105
Can you try setting `g.ASCII = True`?

https://github.com/jroimartin/gocui/blob/master/gui.go#L66-L68

Related: #93, #91

[2017-08-16 21:14] thehowl opened #116 "Project using gocui: claws"
Posting this issue seeing as the maintainer seems to be back from the dead! :P (Take no offense, I completely understand if you've been busy.)

A command line interactive websocket client: https://github.com/thehowl/claws

[2017-08-16 22:10] jroimartin commented on #116
Looks really good! :) Added to the projects list in c64aff6dc2c26dc5d4f6cb44ce4df377a5d1bbbd.

[2017-08-16 22:10] #116 closed

[2017-08-17 18:33] alitari opened #117 "make count of lines public"
view.go
...
func (v *View) LinesCount() int {
	return len(v.lines)
}

[2017-08-17 23:03] jroimartin commented on #69
Fixed via 2677ad04454bb2a43069dda0675b602b0ec2c14c. Can you check? :)

[2017-08-17 23:14] jroimartin commented on #60
I'm closing this issue. I decided to progressively refactor the edition mode, starting with 2677ad04454bb2a43069dda0675b602b0ec2c14c.

[2017-08-17 23:14] #60 closed

[2017-08-17 23:19] jroimartin commented on #117
What about using `strings.Count(v.ViewBuffer(), "\n")` or `strings.Count(v.Buffer(), "\n")` depending on your needs?

Related: #84

[2017-08-18 07:23] #111 closed

[2017-08-18 22:10] jroimartin commented on #82
Fixed via 75a7ad275059b14eb43b704717ef23d42b2fea4d. Could you check? :)

[2017-08-18 22:12] jroimartin commented on #82
BTW you can use `_examples/bufs.go` to test it easier.

[2017-08-18 22:15] jroimartin commented on #79
Renamed to `*Gui.Update()` via 6564cfcacb01db61e3a4e983405a598db3e91982.

[2017-08-18 22:15] #79 closed

[2017-08-18 22:17] jroimartin commented on #78
Function renamed to *Gui.Update() + more docs in 6564cfcacb01db61e3a4e983405a598db3e91982.

[2017-08-18 22:17] #78 closed

[2017-08-18 22:35] #108 closed

[2017-08-18 22:57] jroimartin commented on #3
Closing the issue until we really have this need.

[2017-08-18 22:57] #3 closed

[2017-08-19 11:55] alitari commented on #117
Thanks for your fast reply and btw: good work !
In fact, that's what I'm doing right now, but imho calculating a value which is already there ( just hidden) is not optimal. Anyway i can live with this workaround of course :-)

[2017-08-19 13:20] jroimartin commented on #117
The thing is that there are actually multiple line counts: number of lines in the internal viewbuffer, number of lines in the internal buffer, maximum number of lines of the view (y size), etc.

So, I'm not sure if exposing all of them would make the API harder to understand, given that there are already other ways to get them.

[2017-08-19 17:59] antavelos opened #118 "Another project using gocui"
A terminal based RSS reader: http://github.com/antavelos/terminews
Thanks for this cool library!

[2017-08-19 18:39] #117 closed

[2017-08-19 18:39] #69 closed

[2017-08-19 18:39] #82 closed

[2017-08-19 18:44] jroimartin commented on #118
Great! :D Added via 881edc4380ce3fa6050bc8d5b3d76a6abf921050.

[2017-08-19 18:44] #118 closed

[2017-08-19 21:44] jroimartin commented on #109
I've just implemented the functionality in d3dc71a2b9dbfcf0df5ef4003d9d5c3967b64db1 ([issue-109](https://github.com/jroimartin/gocui/tree/issue-109) branch). I also modified `_examples/size.go` to use it.

However, after using it, my impression is that the same thing can be done within a Manager/ManagerFunc calling `maxX, maxY := g.Size()` and updating the views accordingly. For instance, deleting

[2017-08-19 22:02] jroimartin commented on #105
I'm closing the issue for now. I think it duplicates the issues linked in my last comment. It that's not the case, feel free to reopen it :)

[2017-08-19 22:02] #105 closed

[2017-08-20 05:40] esimov opened #119 "CLI app using gocui library."
Hi. I've created an ascii to diagrams convertor CLI application using the gocui library. You can check it out here: https://github.com/esimov/diagram

[2017-08-20 13:24] jroimartin commented on #119
Added to README via eb73455bec6f3eff128481351bf476915bf95228! :)

[2017-08-20 13:24] #119 closed

[2017-08-20 13:40] jroimartin commented on #102
I'm closing the issue, as it doesn't seem to be related to gocui.

[2017-08-20 13:40] #102 closed

[2017-08-21 07:01] joefazee opened #120 "Short tutorial"
Yes i can see the _examples folder and i can run the code but a short tutorial will defiantly increase adoption, also with a better documentation. Who don`t like a documentation like http://flask.pocoo.org/docs/0.12/?

Thank you for your efforts and time.

[2017-08-27 19:58] jroimartin commented on #120
Have you read the [godoc](https://godoc.org/github.com/jroimartin/gocui) documentation? What  details are you missing? Feedback is welcome to improve the docs :)

[2017-08-31 13:10] nboughton opened #123 "Cannot update view via Gui.Update"
I have followed the examples and have tested my input (server connection streaming back text data via telnet). I am certain that I am receiving data but for some reason the main view appears blank. If I append +"#" to str in the fmt.Fprint(v, str) line I can see '#'s show up in the window but text from the server never appears.

The updating goroutine is as follows:

	go func() {
		b := bufio.NewR

[2017-08-31 21:09] jroimartin commented on #123
Without the real code it's difficult to say. Anyway, I created an small example that might be useful for you. It basically reads from a socket and outputs the received data in a view:

https://gist.github.com/jroimartin/bd64b6c88c8289e80b01f2119716e64e

![image](https://user-images.githubusercontent.com/1223476/29945406-4b696c48-8ea1-11e7-9ea2-e076940ecaaf.png)

[2017-08-31 21:29] nboughton commented on #123
I've pushed my current code to a repo: https://github.com/nboughton/go-disc

The problem seems to be in printing to the main view, the receiver routine is in recv.go

[2017-08-31 21:59] nboughton commented on #123
Ah, interestingly I can get the raw output printing if I use fmt.Fprintf(v, "%q\n", str), however this also prints all the color codes and return bytes.

[2017-08-31 22:13] nboughton commented on #123
OK!, I've fixed it in the current version of the code. It appears that it works if I use b.Readline() to receive the string data from the server and then Fprintf that out to the view.

Thanks!

[2017-08-31 22:13] #123 closed

[2017-09-10 03:59] engineerbeard opened #125 "stdin example"
Doing a go build on stdin.go in the examples folder and then a ./stdin causes the program to hang on  MAC El Capitan 10.11.6.

[2017-09-10 07:53] jroimartin commented on #125
It hangs because it's waiting for stdin data. Try something like this:

[code]

[2017-09-13 18:41] engineerbeard commented on #125
That worked, I figured it was waiting for keyboard stdin.

[2017-09-13 18:41] #125 closed

[2017-09-14 18:27] engineerbeard opened #126 "Detect any key press event?"
Is there a way to detect if any key is pressed? Something similar to this:
[code]

[2017-10-06 00:50] moribellamy commented on #126
I think I want the same thing as @engineerbeard, but if not I apologize for hijacking.

Basically I would like my application to run its own logic as a result of any user keypress. Right now it looks like gocui processes keypresses only by `tbEvents    chan termbox.Event`.

I want to say "on any keypress, run my function on the updated contents of the buffer". I could poll with a sleep, but that's

[2017-10-06 07:00] moribellamy commented on #94
Actually something interesting..pasting a long line gives the wrong Y coord for the cursor, but only temporarily
![image](https://user-images.githubusercontent.com/13877974/31266592-5ac232a8-aa29-11e7-8b7d-c6569bb097da.png)

[2017-10-08 05:53] moribellamy commented on #94
My guess is that this has to do with https://github.com/nsf/termbox-go/issues/170, which I just filed. I think only one event gets fired on a paste, and my theory is gocui needs the opportunity to redraw on _every_ char input.

[2017-10-19 15:48] 15951836388 opened #127 "run err on macos"
![image](https://user-images.githubusercontent.com/14047483/31780237-c208ff82-b4ba-11e7-9f21-ba99ef75fa28.png)

[2017-10-29 22:24] moribellamy commented on #94
Nevermind on my theory above. The bug I filed was incorrect, and on the termbox end they seem to be firing all events on a paste. But I can still repro this issue on the Gocui side.

[2017-11-29 21:28] rgl opened #128 "View not updated on resize?"
I want to show the terminal width right aligned on the first line of the terminal, but when I resize the terminal, the view does not seem to be updated. Any idea why?

The "35" text should be right aligned after I resize the terminal, but it isn't:

![image](https://user-images.githubusercontent.com/43356/33399869-081b6b34-d54c-11e7-9f34-1fc524060786.png)

Here's the code:

[code]

[2017-11-30 09:45] lesovsky commented on #70
Hi,
is there any progress in this issue?

[2017-12-02 12:29] rgl commented on #128
Oh, sorry about this... just found https://github.com/jroimartin/gocui/blob/master/_examples/size.go which shed the light on my problem :-)

[2017-12-02 12:29] #128 closed

[2017-12-05 18:13] streambinder opened #129 "It always trap SIGINT"
I actually run gocui's `MainLoop` in a dedicated goroutine.
Even if I don't have any `SetKeybinding()` on `gocui.KeyCtrlC` it prevents my application to override on other place that signal.

[2017-12-23 01:25] brycemcanally opened #132 "Another project"
Bashly: A terminal-based application for working with Bash scripts.
https://github.com/brycemcanally/bashly.git

Thanks for the library!

[2017-12-25 16:51] maja42 opened #133 "Colored title"
It would be really nice to allow view titles to be colorized independently of the frame.

    if v, err := g.SetView("command", 0, 0, 50, 50); err != nil && err != gocui.ErrUnknownView
    {
        return err
    } else if err == gocui.ErrUnknownView {
        v.Title = "\x1b[0;31mRed text \x1b[0;32m Green text \x1b[0m Normal text"
    }

Currently, escape sequences like those above are printed a

[2017-12-26 14:15] maja42 opened #134 "Displaying view titles with Unicode characters"
When using unicode-characters that are wider than standard characters in the view title, the line-characters of the frame are visible, and the overall text size is bigger.

For example, if I use the following string as a title: "< * ⁎ ⁑ ✱ ✲ ✻ ✼ ✽ ❃ ❉ Home >", the terminal output is looks as follows:

![image](https://user-images.githubusercontent.com/2649265/34358349-35228aa0-ea4f-11e7-8b03-2b7565

[2018-01-02 10:12] pjebs opened #136 "Text Input box with password masking"
How can I mask passwords? Thank you for the library.

[2018-01-06 10:06] maja42 opened #138 "Cannot print underline character"
The following Update function:

[code]
prints spaces instead of underlines.

Output:

![deleteme](https://user-images.githubusercontent.com/2649265/34638699-93eaa4de-f2d1-11e7-89a9-ffa0a322322b.PNG)

[2018-01-06 10:50] maja42 commented on #138
Ok, this issue is unrelated to gocui and can be closed (it's invalid). It is actually an issue with the terminal that I used.

[2018-01-12 02:03] cyc115 commented on #136
I think that should be done in your application logic.

[2018-01-18 23:56] sveinburne opened #139 "Document charset support"
Hi and thanks for your awesome work.
I haven't seen any information on the accepted [charsets](http://man7.org/linux/man-pages/man7/charsets.7.html) compatible with this library.
Could you perhaps add information on your README ?

For example

- Are some UI elements using non-ASCII ?
- Does it assumes the configured encoding is UTF-8 ?
- What happens if the end-user has the `$LANG` variable set to

[2018-01-21 07:44] jezek opened #140 "tainted views"
Sorry for bothering you ...
I was browsing through your code and I realized, you mark views as tainted on some occasions, but there is nowhere a condition to check if some view is tainted. [See search.](https://github.com/jroimartin/gocui/search?utf8=%E2%9C%93&q=tainted&type=) So you always redraw all border all the time? Or have I overlooked something?

Thank you for your time and have a nice day

[2018-01-25 22:27] crazcalm opened #141 "Thank you!"
After seeing this project, I got the idea to create a terminal quiz application for my fiancee. Without your project, I never would have been able to build mine. Thanks again!

https://github.com/crazcalm/term-quiz

[2018-02-16 20:13] dastergon opened #142 "Add support for dynamic ASCII trees"
It would be great to have dynamic ASCII trees as widgets where we can expand or collapse the tree and can click on the nodes.

Example of an ASCII tree:

[code]

[2018-02-19 01:26] davidlazar opened #143 "Edit arbitrary lines in view buffer"
I'm using gocui in [Vuvuzela](https://github.com/vuvuzela/vuvuzela), a chat app with a UI similar to irssi's. I'd like to be able to edit chat messages that appear in a conversation window (e.g., to indicate when a message has been sent or received). Unfortunately, there does not appear to be an easy way to edit lines in a view buffer. I tried this code to delete a `*` character from a line after

[2018-02-20 08:42] lesovsky opened #144 "How to pass extra vars to setkeybinding func?"
Hi,

I'd like to pass extra variables into my function which is used in SetKeybinding()

something like this
[code]

Is there any way to do this or I have to use global vars that visible from any funcs?

[2018-02-27 09:07] the-sushi commented on #133
Here's one way of implementing colorable titles into gocui: https://github.com/jroimartin/gocui/pull/145

[2018-02-28 11:15] lesovsky opened #146 "Return to gocui interface after 3rd party program"
Hi,
I have an issue and don't see obvious ways to solve it...

I have program based on gocui, it has keybinding with a function which generates text and sends it to the pager's stdin. But after closing the pager, all previous gocui interface becomes broken, but still working.

So how can I safely return to the gocui mode and continue the program?

Simplified example, [here](https://gist.github.com

[2018-03-01 12:25] lesovsky commented on #146
I've found that `termbox.Sync()` is helpful in my case [too](https://github.com/jroimartin/gocui/issues/88), but you've  mentioned it's not recommended. Could you explain why?

[2018-03-07 14:01] gflarity opened #147 "Cursor always appears at end of line"
Hi,

Thanks for writing this. I've running into a issue that regardless of g.Cursor being false, I always see a cursor at the end of the last line printed.  Even the little hacks I've tried don't work. I'm suspected it might be the terminal, but I tried both iTerm and Terminal and both have this issue. Any ideas?

[2018-03-12 07:09] lesovsky commented on #146
Solution [here](https://stackoverflow.com/a/49216714/1367644)

[2018-03-12 07:09] #146 closed

[2018-03-14 10:42] lesovsky commented on #144
Answer is found.

[2018-03-14 10:42] #144 closed

[2018-03-26 07:50] lesovsky commented on #103
Is there any plans to implement this feature?

[2018-03-27 16:19] akomic opened #150 "View buffer too large"
I'm working on project where main view is behaving like "tail -f" on file that can become pretty large.
The issue is when View has around 1000 lines moving through it (cursor) is becoming really slow and utilizes CPU a lot. As far as I can see there is no way to remove older lines from View to keep it fixed/maximum length.

I'm thinking of implementing ring buffer View for gocui and hints in which

[2018-04-02 18:26] adam-hanna opened #154 "Invalid Argument on WSL"
This might be an edge case on WSL (windows subsystem for linux).

Running your example yields the following error:

[code]

I'm trying to look into it...

[2018-04-07 14:01] pukapy opened #155 "v.Clear() adds some random spaces?"
hi, i have this function
[code]

[2018-04-07 17:30] #155 closed

[2018-04-23 20:53] evilgroot commented on #140
Hi there! Maybe I'm a little late but anyway...

Have a look at this:
https://github.com/jroimartin/gocui/blob/c055c87ae801372cd74a0839b972db4f7697ae5f/view.go#L297

When a View is marked as tainted, its ViewBuffer needs to be computed again (this is the viewLines slice).

[2018-04-23 21:30] evilgroot opened #157 "Bad view title drawing with unicode characters."
Hello, I am using this API to build the user interface for my application. I am loving it so far, it is very simple and straightforward.

However, I have found an issue when using a View title that contains unicode characters. For instance, see this example:
[code]

The reason behind this issue seems to be in this line:
https://github.com/jroimartin/gocui/blob/c055c87ae801372cd74a0839b972db4f7697a

[2018-04-23 23:09] jezek commented on #140
Ahaaa ... so I trusted GitHub search too much ... it doesn't show all results.
My fault. Sorry.
Consider this not a bug.

[2018-04-23 23:09] #140 closed

[2018-04-28 23:53] maciekk opened #158 "wish: example of dialog box"
I would like to be able to bring up a dialog box when a particular key is pressed within a gocui.View. This dialog box could be a yes/no question, or a single line text entry. The main complication is that I would then like to continue with functionality of the keybinding.

Concrete example: upon pressing key for quitting, I'd like to pop up "are you sure [y/n]" dialog box, and only quit (i.e., re

[2018-04-28 23:55] maciekk commented on #158
The closest I have found to what I need is:
  https://aqatl.github.io/trego/2017/03/13/simple-prompt-dialog-in-gocui.html

But that seems incomplete and of questionable quality.

[2018-05-10 23:28] mkchoi212 commented on #51
@jroimartin Just confirmed this bug.
[code]
does not print on the screen with the current build.

To make the text visible, you must do a
[code]

[2018-05-11 01:35] lesovsky opened #159 "Question: Default handler for all keybindings."
Hi,

Is there a way to define default handler function for all keybindings which are not defined separately?
For example, a program has a set of keybindings with associated handlers, and also thee are other keybindings that are not associated with any functions. When users presses all another keys, program should run default handler which should display something like: _'unknown command -- try "h"

[2018-05-12 15:47] mkchoi212 opened #160 "External application destroys view"
**After opening an external application - vim in my case - the view gets destroyed.**
I've tried redrawing the view multiple times but have found no luck.

**The weird thing is that when I resize the terminal window, the screen refreshes and displays the correct view.**

Any hints on what may be happening here?

Here is [demo](https://imgur.com/a/hGFPPtO) of what is happening

[2018-05-16 04:13] amaralex opened #161 "Question: what is the project name for first screenshot in example section of README (disassembler)?"

[2018-05-17 10:05] gguillemas commented on #161
The project is Radare 2: https://github.com/radare/radare2

[2018-05-20 22:42] #160 closed

[2018-05-20 22:43] mkchoi212 commented on #160
The issue has been fixed by instantiating a brand new instance of `gocui.Gui`

[2018-06-02 10:46] afroewis commented on #136
Considering `v` is a `gocui.View`:

`v.Mask ^= '*'`

This will mask this view's input with asterisks.

[2018-06-27 11:54] michalkowalik commented on #159
I hope it's OK if I comment on it.
One possible option, which I'm using is to write your own editor function. It may be as simple as sending the keystroke to the channel:

`func ed(v *gocui.View, key gocui.Key, ch rune, mod gocui.Modifier) {
	keystrokes <- ch
}`

and processing the keys / runes any way you want, for example:

`	// read from keyboard:
	go func() {
		for {
			k := <-keystrokes
			g.

[2018-08-03 11:15] MichaelMure opened #162 "Child views ?"
I feel like it would help a lot in complex UI to be able to parent views to another view. That would mean that:

- `DeleteView` would delete the child views as well, and thus disable the associated keybindings
- `SetViewOnTop` and `SetViewOnBottom` would move children as well
- View positions would be expressed relatively to the parent view. Apart from simplifying the code to position these view,

[2018-08-06 07:37] boonkerz commented on #132
A simple terminal UI for git commands, written in Go with the gocui library.
https://github.com/jesseduffield/lazygit

[2018-08-06 14:38] MichaelMure commented on #132
Also git related, I'm making git-bug, a bugtracker embedded in git, that feature an interactive terminal UI
https://github.com/MichaelMure/git-bug

[2018-08-13 19:59] askovpen opened #164 "gocui.KeyEsc not work on linux."
[code]

[2018-08-13 22:52] jesseduffield opened #165 "Buffer not being flushed before polling events"
Hey, thanks for making this awesome library!

I'm not very well-versed in the terminology of terminals, but I think there is a bug caused by not calling `g.flush()` at the beginning of MainLoop(). In my application I switch to a third party process, closing the gui beforehand, then I reinitialize the gui, however I can sneak in keypresses as processes switch, meaning when the mainloop begins again

[2018-08-14 16:32] askovpen commented on #164
g.InputEsc=true

[2018-08-14 16:32] #164 closed

[2018-08-17 15:27] seqizz commented on #141
Well that seems like a really cool one.

While I found an open thanks issue, I'd like to add my shameless thanks too, for my weekend project about JIRA:

https://github.com/seqizz/jb

[2018-08-17 17:17] askovpen opened #167 "FR: Delete Line in Editor on KeyCtrlY"
Feature Request: plz. add Delete Line in Editor on KeyCtrlY keybinding.

[2018-08-18 09:50] askovpen opened #169 "FR: customize frame color"

[2018-08-19 13:54] kerak19 opened #171 "Setting font size?"
Is it possible to set fontsize in View?
Of course if it's possible in console at all

[2018-08-19 17:33] #171 closed

[2018-08-23 23:25] martin31821 opened #172 "Invalid \r handling"
When I write \r to a view, the line is discarded, which is actually wrong, since the only thing a \r should do is to set the cursor, so either we ignore \r, or handle it correctly.

It's broken [here](https://github.com/jroimartin/gocui/blob/master/view.go#L209)

[2018-08-28 12:43] antonlindgren commented on #144
Hi. Do you mind showing how you solved it? Wondering the same.

[2018-08-28 14:38] lesovsky commented on #144
@antonlindgren
Hi, I built shortcuts management in such way:
1. all shortcuts are defined in an array of structs
2. iterate over the array and use SetKeybinding() for each shortcut handler
3. handler's function can accept paramters
[code]
Hope it helps )))

[2018-08-31 11:00] vit1251 opened #174 "Example is outdate"
Main page example does not compile under last release v0.3.0

[code]

[2018-09-10 20:57] boazj commented on #174
That's not because the docs are outdated, that's because there hasn't been a new release since Oct 2016.

[2018-09-10 21:57] vit1251 commented on #174
@boazj  right now Go start using go.mod with new dependency syntax. Could you suggest more modern alternative. I search modern TUI system for win32 and linux.

[2018-09-11 15:38] boazj commented on #174
@vit1251 from the docs:

So simply:
[code]

Might be wrong about the timestamp, but it shouldn't matter much

[2018-09-11 18:44] boazj commented on #174
Hey, preaching to the choir here. I'm not a maintainer of this project, just someone presently evaluating this project and trying to help out.
I would love @jroimartin to release a proper version so I won't have to do this very same hack myself.

If this is no longer maintained by the original owner then maybe this project should be open to additional maintainers or ownership transfer.

[2018-09-11 19:11] jroimartin commented on #174
I tagged HEAD as `v0.4.0`. That should fix the problem.

[2018-09-12 13:09] antonlindgren opened #175 "Keybindings for Home and End are not triggered"
Hi,

I've noticed that keybindings using gocui.KeyHome and gocui.KeyEnd are not being fired.

If I add a log row in the function "execKeybindings" and printing ev.Key, ev.Ch and ev.Mod, I notice that pressing Home/End fires the function three times.
For Home it gets fired with 0/91/1, 0/49/0, 0/126/0
For End it gets fired with 0/91/1, 0/52/0, 0/126/0.

If I add a keybinding for '1' with gocui.ModN

[2018-09-14 15:39] vit1251 commented on #174
Right now example work.
I close issue.
Thanks.

[2018-09-14 15:39] #174 closed

[2018-09-18 08:42] hello-liu commented on #157
老兄，你问题解决了没有，我的是在windows下输入中文显示有问题
![e](https://user-images.githubusercontent.com/19245272/45675275-93c23400-bb61-11e8-931a-196e4b713791.png)

[2018-09-18 08:46] hello-liu commented on #134
老兄，你好，你的问题解决了么，我的是在windows下中文显示有问题
![e](https://user-images.githubusercontent.com/19245272/45675607-4abeaf80-bb62-11e8-8c3e-df9f7b914d54.png)

[2018-09-25 17:29] MichaelMure commented on #172
I can confirm the problem, I had to replace windows line ending (\r\n) into unix one (\n) to avoid that.

[2018-10-04 20:39] middlehut commented on #126
@engineerbeard @moribellamy
If you peek inside the `g.SetKeybindings` function, you will notice that it calls another small function called `getKey(key)` which receives as input the value that you have provided for key bindings.

[code]

It casts the value to either e predefined Key in the library, or a Go `rune`. Using the `rune` value, you can provide whatever keyboard key you like by using its

[2018-10-10 16:43] robaho commented on #150
You might be interested in my fork which fixes this, github.com/robaho/gocui

It also has some other enhancements to make color changes in the context of logging easier - that is, you don't have to manually send escape sequences. See the github.com/robaho/go-trader project for examples of its usage.

[2018-10-15 14:04] mattrbeam commented on #134
A while ago an issue regarding the exact same problem. I didn't notice there was an already opened issue, that is my bad. However, I discuss what I think the problem is and how I solved it there #157. This project seems to be unmantained for a while so you might want to check it out if you want to solve this issue on your fork.

[2018-10-25 17:04] 4alexey opened #177 "Is there a sample for the view to act like command interpreter, similar to Linux terminal."
![image](https://user-images.githubusercontent.com/9059654/47517539-b7098e80-d845-11e8-92f1-55838c6022fd.png)

[2018-10-26 04:03] 4alexey commented on #177
I am looking for the standard CUI functionality, like on the screenshot above. Thanks!

[2018-11-13 03:20] weishengmin opened #178 "MoveCursor is invalid when view text contains \n"

[2018-11-13 10:56] #178 closed

[2018-11-15 06:53] helloannali opened #179 "how to disable mouse wheel"
how to disable mouse wheel

[2018-11-16 08:39] hello-liu commented on #157
Thank you very much for your answer

[2018-11-26 16:01] mitnk commented on #157
I found a dirty/quick workaround to display unicode chars - append a SPACE char after each unicode char (assume they are all 2-ascii-width):
[code]
Tested on Mac, no spaces show (either copy from) on the view screen with this.

[2018-12-03 03:57] hello-liu commented on #157
@mitnk  wa~~~ao, I've almost given up this ui，But you let me discover the new world

[2018-12-03 04:07] mitnk commented on #157
@hello-liu Well, my solution here is for display text inside screen, not on title. On title, I think you can always to use ASCII chars only, though multiply-byte unicode char is readable-ok-ish.

[2018-12-09 16:34] whereswaldon commented on #94
I have a similar problem. When I paste long input, every character that went off the edges of the editable view has a space inserted after it. I think this is a manifestation of the same problem.

[2018-12-17 18:00] sineatos opened #182 "Can not update sizes and positions of views in a manager"
I created a struct and implemented the `Manager` interface. More than one View is created in *a* `func Layout(g *gocui.Gui) error` by `g.SetView`, and when I execute `MainLoop()`, they can show in terminal.

Here is my problem:
I set these Views' size and position in `Layout` which are proportional to terminal size by using `g.SetView`, and when I execute `MainLoop`, only the first View appears in

[2018-12-18 22:35] whereswaldon commented on #182
It might be easier to give you an answer if you could provide a short example of the code that you're having trouble with. I'm not sure that I understand what's happening based on your description.

[2018-12-19 11:58] sineatos commented on #182
I created a new struct named ChatBox, and implemented the `Manager` interface. The code is showed as follow:

[code]

I set Views in `Layout`, and the order of setting is `DialogBox->UserList->InputBox`.
The `GetRectWithLP` is used to get the position and size of View according to the current size of terminal.

---

Here is an example I met.

First, I used `go run main.go` to start my code, and th

[2018-12-20 02:25] sineatos opened #183 "Grid layout support"
Hello

I used gocui to build an application and I found that I have to adjust the size of each view manually when I resize terminal. However, the effect of manual adjustment isn't good.

I think it's excellent if gocui could include a grid layout like [bootstrap](http://getbootstrap.com/) which can adjust automatically when the size of terminal is changed.

Is there a plan to add this feature into

[2018-12-20 20:21] Ariels123 opened #184 "Install error: keybinding.go:74: undefined: termbox.MouseRelease"
I get this error trying to install on OSx

go get github.com/jroimartin/gocui
# github.com/jroimartin/gocui
../../../../go/src/github.com/jroimartin/gocui/keybinding.go:74: undefined: termbox.MouseRelease

Any easy workaround?

[2018-12-22 22:50] whereswaldon commented on #182
This appears to be a bug in `GetRectWithLP`, rather than a bug in `gocui`. `gocui` does not ever manage the size or position of a `View` automatically. You are always responsible for performing resize and relocation. It seems that your function is correctly resizing when you provide it with the details of the Dialog box, but not the other views.

[2018-12-22 22:54] whereswaldon commented on #183
I can't speak for @jroimartin, but I can say that adding something like that would be a colossal undertaking. Layout functions are complex. There's an example that implements a flow layout in the examples folder, but a grid has a lot more logic behind it.

However, such a thing could be built on top of `gocui` as a separate library. If you're interested in making this a reality, you could certainl

[2018-12-22 22:56] whereswaldon commented on #184
Never seen this one before. A few questions that might help narrow things down:

- Do you get that error as part of the `go get` command, or when you try to compile some code after having installed?
- What is the output of `go version`?
- What version of macOS are you running?
- What's the output of `pwd` in the directory where you're running this?
- Where is your `$GOPATH`?

[2018-12-22 23:00] whereswaldon commented on #94
I think I've found a fix for this, though I'm not convinced that it's the best possible solution. I'm currently testing it on my fork. [This commit](https://github.com/whereswaldon/gocui/commit/101990862c62b1156b5f048c02eb2ddf7cdbe1e6) implements it.

Once I'm satisfied that this actually fixes the problem, I'll open a PR for it.

[2018-12-27 04:41] whereswaldon commented on #111
I expect that it isn't implemented in `termbox-go` because it can't be represented portably across all of the platforms that Go supports. If that is the case, it cannot be implemented.

[2018-12-27 04:51] miguelmota commented on #111
termbox-go maintainer has no plans of implementing Shift+Enter for the reason stated above, in that it must be supported by all terminals

https://github.com/nsf/termbox-go/issues/204

[2019-01-19 17:36] bokwoon95 commented on #126
@dbubel I managed to achieve it in a roundabout way, by declaring `g.SetKeybinding` [for every rune in a string](https://stackoverflow.com/questions/18130859/how-can-i-iterate-over-a-string-by-runes-in-go) along with a [partially applied function](https://stackoverflow.com/questions/19394868/how-can-go-lang-curry)

[code]

[2019-01-20 01:41] dbubel commented on #126
@bokwoon95 Very cool. I haven't worked on my project that uses this in some time. But ill give your method a try.

[2019-01-26 08:50] hassansin opened #187 "Pasting text longer than view size adds space characters"
Hi, any idea why pasting text longer than view size adds extra space character? Here's a reproducible code: https://play.golang.org/p/m8yOQQZTRJr

See the output when I pasted `aaaaaaaaaaaaaaaaaaaaaaaa`
![image](https://user-images.githubusercontent.com/4618044/51784870-a553c200-2179-11e9-951d-cbba4f63cf6d.png)

[2019-01-26 12:42] #161 closed

[2019-01-30 05:58] hassansin commented on #94
Hi, #187 might also fix this bug.

[2019-02-17 18:22] bLuka opened #190 "Troubles printing a shell to a view"
Hello,

I'm having troubles trying to run a shell inside a view.

I'm going through a pseudo-terminal (currently using kr/pty's module here: https://github.com/kr/pty).

I had an issue passing my view as the dest of my `io.Copy`, having the pseudo-terminal as source. I needed to rewrite `io.Copy` using Gui.Update on each write.

Next, I am able to print the prompt, but unable to print any other fo

[2019-03-01 22:28] hexaflex opened #191 "Query individual runes under cursor position."
The View type has a `Word` and `Line` method. I am finding myself in need of looking at individual runes under the current cursor position.

This is useful when implementing extended editor functionality like moving the cursor left or right by a whole words, or deleting a whole word at a time. These require one to scan backward or forward from the current cursor position, until a whitespace charac

[2019-03-16 18:54] glvr182 opened #194 "FR: Add tabs"
I would love to have the option to add extra tabs.
This is because so many times i lack space in my terminal and i found overlapping views
no the pretiest solution.

Let me know what you guys think!

[2019-03-24 02:51] inductor opened #195 "Is this repo still maintained?"
@jroimartin seems stopped his activity on this repository for a long time.

[2019-04-27 12:00] mjarkk commented on #195
Seems like that's the case,
But there are a view forks that seems to be kinda maintained.
- [jesseduffield/gocui](https://github.com/jesseduffield/gocui)
- [makyo/gotui](https://github.com/makyo/gotui)

Someone could make a Github organization with a fork of this project and a number of maintainers that want to help to get this project up and running again.

[2019-04-27 12:54] glvr182 commented on #195
@mjarkk sounds like a good idea, maybe it would even be interesting to put the gocui based programs in that organization.

[2019-04-27 13:01] mjarkk commented on #195
I'm thinking of creating an organization with some awesome go projects that are sadly not maintained because there are more libraries like this where the developer stopped using github.

With a github organization there can more people to respond to PRs,
@glvr182 Would you like to help?

[2019-04-27 13:23] glvr182 commented on #195
@mjarkk Gladly!

[2019-04-27 20:47] #194 closed

[2019-05-19 03:08] jesseduffield commented on #190
I too am encountering this exact same issue. Would be happy to put up a PR if somebody can point me in the right direction

[2019-05-26 13:25] MichaelMure commented on #195
For the curious, the org is https://github.com/awesome-gocui and the forked repo is https://github.com/awesome-gocui/gocui

[2019-06-27 03:34] diegoacuna commented on #190
@bLuka were you able to find a workaround for this issue? thanks!

[2019-06-27 04:07] jakubgs commented on #158
I'm getting 404 for both inks and I see no `dialog.go` in `_examples`. What is the proper way? A different view for each dialog you want? One dialog you adjust depending on what it displays?

[2019-06-27 06:23] bLuka commented on #190
@diegoacuna Unfortunately I didn't found any workaround.
After some reflexion, it seems the best solution is to write another package from scratch from the ncurses library handling this scenario.

I dug a bit into the sources in a couple of hours, in order to understand the matter, but found nothing accurate.

@jroimartin Any idea? I'd still be happy to have this issue fixed :-)

[2019-06-27 10:17] amlwwalker opened #199 "Updating the UI with a writer correctly"
How can I update the UI (I am outputting logs to the UI) properly so that it updates automatically, rather than updating when I manually press the up/down arrows?

I am using the io.Writer interface:

[code]

The above works however if multiple things write to it at once, then the logs get jumbled on the console. The image below is the output, as you can see, lines 11,12,13 have been jumbled with

[2019-07-03 02:14] transwalle commented on #141
Awesome project! Cool to developers.

[2019-07-05 19:59] AlexLombry opened #202 "Weird look on iTerm vs Terminal on macOS"
**Describe the bug**
Weird look on iTerm2 vs Terminal

I'm still tweaking my configuration but i always have that kind of behaviour.
I'm running oh my zsh on both iterm and terminal.

**Screenshots**
__macOS Built in terminal__
![Terminal](https://imgshare.io/images/2019/07/02/terminal.png)

__iTerm2__
![iTerm2](https://imgshare.io/images/2019/07/02/iterm.png)

**Desktop :**
 - OS: macOS High Sier

[2019-07-15 10:38] MichaelMure opened #203 "go-term-text: complement library for text formatting"
Hi everyone,

I figured you would be interested, I published a go package I wrote to help me handle complex text formatting in a gocui interface. In particular, this package contains string manipulation functions that handle properly wide characters (chinese, japanese ...) and ANSI escape sequences.

The package is here: https://github.com/MichaelMure/go-term-text

[2019-07-16 15:51] kyai opened #204 "How to remove the selected effect of the cursor?"

[2019-07-22 14:48] #204 closed

[2019-07-22 14:50] kyai opened #205 "How to set two attributes?"
such as `gocui.ColorBlue` and `gocui.AttrBold`

[2019-07-22 14:54] glvr182 commented on #205
You can "or" (`|`) the two so `attr = gocui.ColorBlue | gocui.AttrBold` should work

[2019-07-23 01:27] kyai commented on #205
@glvr182 thanks!

[2019-07-23 01:27] #205 closed

[2019-07-23 14:43] leebradley commented on #94
@jroimartin Do you think you could take a look at the #188 pull request? If there's something wrong with it, just write a note. I'm sure somebody will fix it.

The pasting bug has been a longstanding issue for knqyf263/pet, which uses gocui. It doesn't appear as though the Wrap=false fix is reliable. We've been considering using Termui instead, but that would be a major rewrite. It would be easier

[2019-07-23 14:54] awnumar commented on #94
This repository sadly seems to be unmaintained. Perhaps a community fork is appropriate? I don't have time to maintain it myself but someone might.

[2019-07-23 14:56] glvr182 commented on #94
You can indeed send your PR to [this](https://github.com/awesome-gocui/gocui) community fork, there are already lots of improvements

[2019-07-23 15:52] aaronchen2k opened #207 "How can I set the Cursor at end of the content when clicking a view"
How can I set the cursor at end of the content when clicking a view? Thanks!
Now will put the cursor at the position that clicked, which is weird.

[2019-07-26 07:49] mjarkk commented on #103
@lesovsky someone made an issue about this at [awesome-gocui/gocui](https://github.com/awesome-gocui/gocui) and it seems like this will be implemented.
Ow our fork is a community driven fork that aims to start working on gocui actively again.

[2019-07-26 08:08] lesovsky commented on #103
@mjarkk thanks
I also found that project and tracking it permanently. It seems I will switch to using fork in [lesovsky/pgcenter](https://github.com/lesovsky/pgcenter)

[2019-09-19 00:35] Rudi9719 commented on #40
Also having this issue; necro from 2017 but it's 2019 and this shows up first in Google. How did you get the cursor to show up?

[2019-09-22 12:42] Rudi9719 commented on #158
Also looking for this functionality, is there any progress aside from the 404 links?

[2019-09-22 19:17] glvr182 commented on #207
You can set a keybind perhaps, this keybind can then alter the cursor property

[2019-09-24 20:12] glvr182 commented on #158
@Rudi9719 If you want you can open this issue at our community fork [awesome-gocui/gocui](https://github.com/awesome-gocui/gocui)

[2019-09-29 01:30] aaronchen2k opened #208 "Fix the Chinese display issue, but still got wrong ui layout"
I fixed the Chinese issue by using codes in https://github.com/rocket049/gocui.
But still have layout bug.

![image](https://user-images.githubusercontent.com/3222874/65824432-ab1b1d80-e29b-11e9-80e4-20fc3f93f292.png)

[2019-09-29 09:37] mjarkk commented on #208
Have you looked at this fork: [awesome-gocui/gocui](https://github.com/awesome-gocui/gocui), it's a community fork that also has a number of fixes related to this.
The owner of this library seems to be stopped working on it so we made a fork with a lot of community fixes and other improvements.

[2019-09-29 11:02] aaronchen2k commented on #208
@mjarkk It works well, thanks a lot!

[2019-09-29 11:02] #208 closed

[2019-12-12 15:44] kyai opened #211 "Wrong layout when Title uses a different encoding"
https://github.com/jroimartin/gocui/blob/c055c87ae801372cd74a0839b972db4f7697ae5f/gui.go#L538

Try it:
[code]

[2019-12-12 15:57] kyai commented on #211
Fixed, request merge. #212

[2019-12-12 15:57] #211 closed

[2019-12-22 07:30] leslie-wang opened #213 "True color support ?"
Thanks for the great tool.

I'm trying to use gocui to display image as https://github.com/eliukblau/pixterm/blob/master/cmd/pixterm/pixterm.go. But seems like display is not good as true color terminal. So is there any setting for gocui to enable true color?

BTW, I'm using iterm2, which pixterm can display image perfectly.

[2019-12-22 21:13] leslie-wang commented on #213
seems like it is due to termbox doesn't support true color yet. https://github.com/nsf/termbox/issues/37

[2019-12-27 08:11] miguelmota opened #214 "Keybindings not working on FreeBSD"
I run the examples but pressing any of the keybindings doesn't have any effect. It doesn't let me quit either. I tested on a fresh install of FreeBSD using latest Go. Any idea?

[2019-12-27 13:31] mjarkk commented on #214
We have a similar issue, https://github.com/jesseduffield/lazygit/issues/563
It seems like this only happens in the latest versions of go.

[2019-12-29 05:22] miguelmota commented on #214
@mjarkk are you sure it's a go version issue? keybindings using the [tcell](https://github.com/gdamore/tcell) library seem to work

[2019-12-29 07:50] miguelmota commented on #214
gocui relies on termbox-go for keybindings. A fix just got [merged](https://github.com/nsf/termbox-go/pull/219/files) on termbox-go which fixes keybindings on freebsd. Closing issue since it's resolved.

[2019-12-29 07:50] #214 closed

[2020-01-21 17:03] bwmarrin commented on #88
@jroimartin

Is this still the only solution.  There's been a couple people needing this in the past, and I'm needing it as well.  I'm using the above "hack" but exposing a Redraw() or similar func in the GOCUI library would be nice.

What's the main concern for not wanting this in the library itself?

[2020-02-17 09:42] heri3x opened #217 "Examples does not support east asian windows?"
Hi.
It seems that Gocui examples need to be added the code below in main funcs when I build it for Windows 10 (in japanese language).
You may already know. Just for info.

[code]

[2020-03-26 05:55] baojiweicn commented on #157
👍

[2020-03-26 05:55] baojiweicn commented on #157
new world

[2020-04-05 09:47] streambinder commented on #129
No feedback.

[2020-04-05 09:47] #129 closed

[2020-04-06 00:58] ghostsquad commented on #202
Any update on this? Is this still a problem?

[2020-04-08 11:05] AlexLombry commented on #202
This problem occurs with certains types of Font.
I don't have the problem anymore.

[2020-04-08 11:05] #202 closed

[2020-04-08 16:59] ghostsquad commented on #202
What types of fonts should I stay away from?

[2020-04-08 17:42] AlexLombry commented on #202
I cannot reproduce this bug so maybe it was fix on gocui side

[2020-04-08 18:03] ghostsquad commented on #202
thanks for the update! 😄

[2020-04-18 23:10] happysmile12321 opened #219 "Can you support run jar packet?"
I am not familiar with go language, can you add a function to run jar package on it?

[2020-05-19 23:19] alok commented on #213
There's https://github.com/tomas/termbox, which is a maintained fork that adds it, but dunno if you want to go through that.

[2020-06-28 15:08] ripienaar opened #222 "force update"
I used `g.Update` to append lines to a text box that scrolls - like a tail -f.

Periodically i remove lines from buffer so the size doesnt grow forever, however the fact that g.Update() creates a go routine leaks lots of memory over time since go does not release the go routine descriptors ever.  After a few 10k lines you end up with 10k go routines worth of descriptors in memory that will never b

[2020-07-02 17:02] dsouzae commented on #222
I implemented something similar but left the original Update function alone (for backwards compatibility), and created an "Update2" function of that does the same code.

Below is code I have to trim the maximum lines in the buffer, with some other bug fixes.  I should make a PR for this.

[code]

[2020-07-03 16:28] glvr182 commented on #222
I would be able to add a function called UpdateAsync(), this way we wouldn't change any existing code and still have the wanted functionalities.

What are your thoughts

[2020-07-03 16:45] ripienaar commented on #222
Ideally to avoid a unbounded growth it would be nice if there was a maxlines setting as suggested.

But yes, the UpdateAsync() would be great. If you agree with that I can send a PR

[2020-07-03 17:47] glvr182 commented on #222
Yea totally! Go for it!

[2020-07-03 20:11] glvr182 commented on #222
Can you open it on [@awesome-gocui](https://github.com/awesome-gocui/gocui) we run a fork of this project theere since the original ownwer hasnt responded to anything in a while

[2020-07-04 08:23] ripienaar commented on #222
OK, I opened https://github.com/awesome-gocui/gocui/pull/67

[2020-08-03 09:55] saeeddhqan opened #224 "Add a project that using gocui"
[evine](https://github.com/saeeddhqan/evine)

Evine is a simple, fast, and interactive web crawler and web scraper written in Golang. Evine is useful for a wide range of purposes such as metadata and data extraction, data mining, reconnaissance, and testing.

[2020-08-13 16:44] igitur commented on #195
@jroimartin Of course there's no obligation, but it would be really neat if you could mark this repo as archived and point new users to the org fork.

[2020-08-14 21:54] cheeseprocedure commented on #199
I'm late to the game here, but hopefully this'll help someone: when I ran into this, the solution was to wrap the write to the view in [`*Gui.Update`](https://godoc.org/github.com/jroimartin/gocui#Gui.Update).

From the Godocs:

Moving my `fmt.Fprintln` calls into `g.Update` resulted in realtime updates.

[2020-08-16 02:41] Regentag commented on #217
This is a problem with the console's code page.
Try changing the code page to UTF-8 instead of ASCII mode.
`C:\> CHCP 65001`

[2020-09-13 11:30] raphaelauv commented on #224
This REPO is dead, things are happening there ->

https://github.com/awesome-gocui/gocui

[2020-09-15 12:36] #224 closed

[2020-10-14 12:47] RolEYder opened #227 "Update Screenshot Example"
It's needed to add `package main` to the screenshot example. Otherwise, we get `example.go:2:1: expected 'package', found 'import'`

[2020-10-14 12:51] #227 closed

[2020-10-14 12:52] RolEYder commented on #227
I don't see it :)

[2020-12-02 17:11] kfranqueiro commented on #190
IIUC, the main loop only responds to termbox and user events. `gocui.View`'s `Write` method marks the view as dirty, but won't cause a render cycle, whereas if you e.g. have key handlers hooked up, pressing a key does cause a render cycle and you'll see the output update at that time.

Would it be reasonable to have `Write` also cause an update cycle (or have an option for it to do so)?

[2020-12-25 16:30] joshualley commented on #157
It is still not dealing with the problem of drawing unicode characters, such as chinese?
I find that when I input a word each, I have to input a space again so that the next word will be showed in the screen.
For this problem, do you want to solve it ?

[2020-12-25 17:24] joshualley commented on #157
If you want to intput a mutibyte character, you can modify the file named **edit.go** of source codes.
At 60th line, you will find the func:
[code]
Modify it like this:
[code]
Then you will find everything is OK.

[2021-03-23 09:16] naughtyfox commented on #187
I got the same issue. Is this library supported still?

[2021-06-03 03:55] Yanwenjiepy opened #231 "lazygit is a simple terminal UI for git commands, written in Go with the gocui library."
[lazygit](https://github.com/jesseduffield/lazygit) is a simple terminal UI for git commands, written in Go with the gocui library.

[2021-06-03 13:45] mjarkk commented on #231
This was also already mentioned in https://github.com/jroimartin/gocui/issues/132

[2021-06-06 07:10] Yanwenjiepy commented on #231
ok

[2021-06-06 07:10] #231 closed

[2021-08-14 19:16] jroimartin commented on #219
I don't really understand your request. But if by `jar package` you mean Java JAR, this does not really make sense in the context of a Go package. If that is not the case, please, feel free to reopen the issue providing more details.

[2021-08-14 19:16] #219 closed

[2021-08-14 22:18] jroimartin commented on #184
Sorry, I cannot reproduce. Also, the issue is quite old, so I'm closing it. If you experience this issue again, feel free to reopen it providing more details.

[2021-08-14 22:18] #184 closed

[2021-09-15 10:06] dzonerzy opened #232 "Start printing at cursor position"
Hi i want to create a custom widget , a button with text alignment, but seems like I can't use SetCursor / SetOrigin to start printing at cursor position, what i'm doing wrong??

[code]

[2021-12-06 20:35] AndzheyAsryan opened #235 "Add lazygit to the list of projects"
Not mine but still a very cool project worth adding to the list :) https://github.com/jesseduffield/lazygit

[2021-12-07 17:49] mjarkk commented on #235
Duplicate of #231 and mentioned in #132

[2021-12-07 17:59] #235 closed

[2021-12-07 18:00] AndzheyAsryan opened #236 "Better tags support"
`T` add a tag to the commit, but I couldn't find a hotkey to delete one. Nor there's a way to push tags to the origin.

[2021-12-09 10:23] mjarkk commented on #236
Euuu I have some suspicion this issue was meant for [lazygit](https://github.com/jesseduffield/lazygit) not gocui

[2021-12-09 10:58] AndzheyAsryan commented on #236
Oh man, my bad, need to focus...

[2021-12-09 10:58] #236 closed

[2022-01-18 07:38] liyoubdu opened #237 "how to read input"
i want to read some inputs of number-key. finaly user entered enter-key, app will run a function.
i hope input of  number-key do not echo in screen when user presses number-key.

[2022-02-01 05:47] zzqluvmyj commented on #157
It works, but in _examples/bufs.go , the output string contains space, I modify this, change " " to  ""

func (v *View) Buffer() string {
	str := ""
	for _, l := range v.lines {
		str += lineType(l).String() + "\n"
	}
	return strings.Replace(str, "\x00", "", -1)
}

[2022-03-03 22:58] jdmoody opened #238 "Support ANSI code for hyperlinks"
I'd love for gocui to support hyperlinks via the ANSI code described here:
https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda

[2022-05-08 01:27] DiscoRiver opened #239 "Add Omnivore to projects list."
Hey! Was wondering if it would be possible to add my project to the "projects using gocui" list?

https://github.com/DiscoRiver/omnivore

Thanks!

[2022-06-08 10:46] SAVE-POlNT opened #240 "Lazydocker is not listed"
I saw that lazy docker is not listed here so i wanted to let you kniw that one of the best projects im using is using this repo

https://github.com/jesseduffield/lazydocker

also pls let me know if this is still maintained , i plan to use it form my "lazyvenv" project

[2022-06-08 14:28] jwlodek commented on #240
It is unmaintained, there is a more recently maintained fork: https://github.com/awesome-gocui/gocui

[2022-06-08 20:19] SAVE-POlNT commented on #240
ok thank you i will take a look at this fork

[2022-06-08 20:19] #240 closed

[2022-07-18 10:16] andrewelkin opened #241 "Extended ANSI color codes are not supported"
Unfortunately ANSI codes like _[0;91m_  are not working for either OutputNormal or Output256.

[2022-08-26 03:11] MitchellMarkGeorge opened #243 "Is the library still actively maintained?"

[2022-09-01 05:52] ns-cn opened #244 "Chinese Support"
If I input Chinese in Editor inside View, half of them disappear, any solution here?

[中文] but shows like
<img width="905" alt="image" src="https://user-images.githubusercontent.com/12507408/187841299-e5cb2021-ee56-46bc-a381-dd332c10c036.png">

[2022-11-28 17:48] CaoYnag commented on #244
如果你还没解决的话，可以试试我的分支 [CaoYnag/gocui@v0.5.2](https://pkg.go.dev/github.com/CaoYnag/gocui@v0.5.2)
![2022-11-29-014522_724x202_scrot](https://user-images.githubusercontent.com/32088428/204345584-4b4c96a1-2bf7-4c44-b876-e2eba7ce7a5f.png)

我用xterm的策略支持了一下中日韩这些文字，不过还没有增加emoji之类